<!DOCTYPE html>
<html>
	<head>
		{% module Template("head_styles.html", style_name="ip-style") %}
		<link rel="stylesheet" type="text/css" href="/static/styles/edu-style.css">
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<article>
				<div id="scrollTop"><div id='buttonUp'></div></div>
				<div class="layout-positioner">
					<!-- Content -->
					<h1>Материалы по курсу "Протоколы Интернета"</h1>
					
					Курс длится 1 семестр, в конце семестра экзамен. В неделю 1 лекция, 1 практика.
					
					<h3>Цель преподавания дисциплины</h3>
					Изучение базовых принципов работы сети Интернет, приобретение навыков практического программирования для сети Интернет.
					В рамках курса студенты имеют возможность взять курсовые работы, которые могут стать основой для бакалаврских и магистерских работ.
					
					<h3>Задачи изучения дисциплины</h3>
					Изучение служб и протоколов Интернета.
					Получение навыков релизации на выбранном языке программирования протоколов взаимодействия клиентов и серверов.
					
					<h3>Место дисциплины в системе высшего профессионального образования</h3>
					В рамках курса используются знания, полученные студентами на курсах "Скрипты", "Языки сценариев (Python)", "Сети".
					
					<h3>Требования к уровню освоения содержания курса</h3>
					<p><b>Студент должен иметь представление</b>
					о принципах ораганизации и управления Инетрнетом;
					о принципах функционирования служб Интернета.</p>
					
					<p><b>Студент должен знать</b>
					архитектуру стека протоколов TCP/IP;
					механизм функционирования слуб DNS, E-mail, FTP, Web и соответствующие протоколы.</p>
					
					<p><b>Студент должен уметь</b>
					пользоваться утилитами для настройки/диагностики протоколов TCP/IP;
					реализоваывать на выбранном (студентом) языке программирования протоколы Интернета.</p>
					
					<h3>Содержание курса</h3>
					Темы и разделы, их краткое содержание:
					<ol>
						<li>Хост, IP-адрес, IP-сеть. Маршрутизация и протоколы маршрутизации (RIP, OSPF). Технология CIDR, маски переменной длины и их использование при маршрутизации и для агрегирования адресов сетей.</li>
						<li>Автономная система. Протокол междоменной маршрутизации BGP-4 и его расширения.</li>
						<li>Служба сетевого времени (NTP/SNTP).</li>
						<li>Службы Интернета. Служба доменных имён (DNS), форвардинг, кэширующие сервера, распределённая система хранения зон, ресурсные записи, корневые сервера. Утилита nslookup и dig.</li>
						<li>Служба электронной почты. Протоколы smtp, pop3, imap команды.</li>
						<li>Служба FTP. Протокол ftp, команды.</li>
						<li>Протокол HTTP.</li>
						<li>Служба WWW. Понятие "гипертекст".</li>
						<li>Криптографические протоколы, обеспечивающие защищенную передачу данных между узлами в сети Интернет.</li>
					</ol>
					
					<h3>Темы лабораторных работ</h3>
					<ol>
						<li>Использование эмулятора Cisco Packet Tracer. Базовая настройка хостов, коммутаторов и маршрутизаторов; VLAN и NAT. Настройка RIP.</li>
						<li>Динамическая маршрутизация. Настройка протокола OSPF.</li>
						<li>Работа с whois серверами региональных интернет регистраторов. Получение статистических данных от RIPE, https://stat.ripe.net/</li>
						<li>Принцип работы утилит nslookup и dig.</li>
						<li>Настройка DNS сервера.</li>
						<li>Настройки учётной записи почтового клиента и связь их с командами POP3.</li>
						<li>Способы получения почты. Последовательность команд для получения письма через telnet по протоколу POP3.</li>
						<li>Способы отправки почты. Последовательность команд для оправки письма через telnet по протоколу SMTP.</li>
						<li>Формат письма (.eml). Минимальный набор заголовков. Формат составного письма с вложением.</li>
						<li>Последовательность команд ftp для передачи файла в двоичном формате с одного ftp-сервера на другой напрямую (без скачивания себе). Утилита ftp: интерактивный и пакетный режимы.</li>
						<li>Структура HTTP-пакета. Процесс работы с HTTP-сервером через telnet: Передача запроса на сервер (GET, POST) и ответа с сервера. Утилиты webproxy, httplook и другие сниферы.</li>
						<li>Настройки веб-сервера и их связь с HTTP. Ограничения по командам HTTP. Дополнительные заголовки. Типы файлов.</li>
					</ol>
					
					
					<h3>Обязательные задачи, инетмин и вопросык экзамену</h3>
					До экзамена или на экзамене надо сдать <a href="inetmin.txt"> inetmin.txt</a> <br>
					К концу семестра необходимо сдать три обязательные задачи. Можно сдать больше задач и тем самым поднять балл текущей успеваемости.<br>
					Формулировки задач и баллы смотреть <a href="tasks.pdf"> здесь</a>.<br>
					
					Сданные задачи и полученные баллы можно отслеживать в <a href="https://docs.google.com/spreadsheets/d/1F_GqbK6moHHBY3n4nJOpE9HPJ9b-IxRbbWc7GTa8prs/edit?usp=sharing" target="_blank">
					google-доках</a>.<br>
					<a href="inet_quest.pdf">Вопросы</a>  к экзамену.<br>
					
					<h3>Коллоквиум</h3>
					В апреле проводится коллоквиум, дата будет согласована с группами. Баллы, полученные на коллоквиуме, будут учтены на экзамене. Те вопросы, на которые даны неверные ответы, пойдут плюсом к доп. вопросам, которые будут заданы на экзамене.
					
					Коллоквиум проводится в письменной форме, в виде теста. Вопросы с вариантами ответов и без таковых (надо указать свой ответ, иногда развернутый).
					<h5>Темы, выносимые на коллоквиум:</h5>
					<ol>
					<li>Маршрутизация</li>
					<li>Автономные системы Интернета, протокол BGP-4.</li>
					<li>Служба DNS.</li>
					</ol>
					
					
					Ниже приведены методические материалы.
					
					<h3>Лекция № 1. Маршрутизация, протокол RIP</h3>
					<a href="1_Routing/1_routing_rip_present.pdf">Презентация</a><br>
					<a href="1_Routing/1_ip_routing_rip.txt">Вопросы для подготовки к "пятиминутке"</a><br>
					
					<h3>Практика № 1. Маршрутизация (статическая и RIP)</h3>
					<a href="1_Routing/1_rip_practice.pdf">Базовая настройка, VLAN и NAT. Настройка RIP</a>.<br>
					<a href="1_Routing/routing_commands.pdf">Протоколы маршрутизации, список команд с объяснениями, Cisco.</a><br>
					<a href="1_Routing/konfig_cisco.pdf">Конфигурирование маршрутизаторов, гл. 4, раздел "Конфигурирование IP-маршрутизации", Cisco.</a><br>
					
					<h3>Лекция № 2. Маршрутизация, протокол OSPF</h3>
					<a href="2_OSPF/2_ospf_present.pdf">Презентация</a><br>
					<a href="2_OSPF/2_routing_ospf.txt">Вопросы для подготовки к "пятиминутке"</a><br>
					<a href="2_OSPF/RFC-2328.pdf">Протокол OSPF, RFC-2328</a><br>
					<a href="2_OSPF/OSPF_manual.pdf">Руководство по проектированию OSPF, Cisco</a><br>
					<a href="http://habrahabr.ru/post/162163/">Типы областей OSPF и соответствующие LSA.</a><br>
					
					<h3>Практика № 2. Маршрутизация, OSPF</h3>
					<a href="2_OSPF/2_ospf_practice.pdf">Настройка протокола OSPF на устройствах Cisco</a><br>
					<a href="2_OSPF/ospf_simple_0.pkt">Сборка сети</a>, одна область<br>
					<a href="2_OSPF/ospf_multiarea_0.pkt">Сборка сети</a>, несколько областей, часть 1<br>
					
					<h3>Лекция № 3. Автономные системы Интернета, протокол BGP-4</h3>
					<a href="3_AS/3_as_bgp_present.pdf">Презентация</a><br>
					<a href="3_AS/3_bgp_test.txt">Вопросы для подготовки к "пятиминутке"</a><br>
					<a href="3_AS/3_as_bgp_lect.pdf">Опорный конспект</a><br>
					<a href="3_AS/RFC-1930.pdf">Руководство по созданию, выбору и регистрации автономных систем, RFC-1930</a><br>
					<a href="3_AS/RFC-4271.pdf">Протокол BGP-4, RFC-4271</a><br>
					
					<h3>Практика № 3. Маршрутизация, протокол BGP-4</h3>
					<a href="3_AS/3_bgp_practice.pdf">Настройка протокола BGP на устройствах Cisco</a><br>
					<a href="3_AS/bgp_0_sborka.pkt">Сборка сети</a><br>
					
					<h3>Лекция № 4. Служба DNS, принципы работы</h3>
					<a href="4_DNS/4_dns_present.pdf">Презентация</a><br>
					<a href="4_DNS/dnsbook.pdf">Книга про DNS и BIND</a><br>
					<a href="4_DNS/RFC-1034.pdf">DOMAIN NAMES - CONCEPTS AND FACILITIES, RFC-1034</a><br>
					<a href="4_DNS/RFC-1035.pdf">Доменные имена — реализация и спецификация, RFC-1035</a><br>
					
					<h3>Практика № 4. Работа с BGP</h3>
					Работа с BGP: базы RIS'ов, утилита BGPlay, Looking glass, сервис whois и т. д.<br>
					<a href="3_AS/4_bgp_practice.pdf">Работа с BGP, написание своей whois утилиты</a><br>
					<a href="https://stat.ripe.net/" target="_blank">Search RIPEstat</a><br>
					<a href="http://nt.ua/aboutcenter/articles/Pages/samoilenko_bgp_2013.aspx" target="_blank">Джентльменский набор для работы с BGP</a><br>
					<!--a href='4_DNS/4_dns_practice.pdf'>План практики</a><br />
					<a href='4_DNS/4_nslookup.pdf'>Самостоятельная работа по nslookup</a><br /-->
					
					<h3>Лекция № 5. Служба DNS, описание зоны, настройка BIND</h3>
					<a href="5_DNS/5_dns_present.pdf">Презентация</a><br>
					
					<h3>Практика № 5. Работа с утилитами nslookup и dig</h3>
					<a href="4_DNS/4_dns_practice.pdf">План практики</a><br>
					<a href="4_DNS/4_nslookup.pdf">Самостоятельная работа по nslookup</a><br>
					
					<h3>Лекция № 6. Служба DNS, основы асимметричной криптографии и расширения DNSSEC</h3>
					<a href="6_DNS/6_dns_present.pdf">Презентация</a><br>
					<a href="6_DNS/6_dns.txt">Вопросы для подготовки к "пятиминутке"</a><br>
					
					<h3>Практика № 6. Настройка BIND, создание своего "Интернета"</h3>
					<a href="5_DNS/5_dns_practice.pdf">План практики</a><br>
					<a href="5_DNS/bind_9_manual.pdf">BIND 9 Manual</a><br>
					<a href="5_DNS/ns_servers.zip">Архив с настройками</a><br>
					
					<h3>Лекция № 7. Служба e-mail, протокол SMTP, борьба со спамом</h3>
					<a href="7_email/7_email_present.pdf">Презентация</a><br>
					<a href="7_email/RFC-5321.pdf">Простой протокол передачи электронной почты (SMTP), RFC-5321</a><br>
					<a href="7_email/RFC-5322.pdf">Формат сообщений Internet, RFC-5322</a><br>
					<a href="http://interface31.ru/tech_it/2010/10/pochtovyj-server-dlya-nachinayushhix-nastraivaem-dns-zonu.html" target="_blank">Почтовый сервер для начинающих</a>, три статьи про настройку почтового сервера без привязки к конкретной программе<br>
					
					<h3>Лекция № 8. Служба e-mail, протокол POP и IMAP</h3>
					<a href="8_email/8_email_present.pdf">Презентация</a><br>
					<a href="http://www.intuit.ru/studies/courses/116/116/lecture/3365" target="_blank">Протокол POP3</a>, лекция на INUIT<br>
					<a href="http://www.intuit.ru/studies/courses/116/116/lecture/3367" target="_blank">Протокол IMAP</a>, лекция на INUIT<br>
					
					<h3>Лекция № 9. Служба передачи файлов, протокол FTP и BitTorrent
					</h3>
					<a href="9_files/9_ftp_present.pdf">Презентация FTP</a><br>
					<a href="9_files/9_bittorrent_present.pdf">Презентация BitTorrent</a><br>
					<a href="9_files/9_bittorrent_lect.pdf">Опорный конспект по BitTorrent</a><br>
					
					<h3>Лекция № 10. Протокол TCP: повышение производительности
					</h3>
					<a href="10_TCP/10_tcp_present.pdf">Презентация</a><br>
					<a href="10_TCP/RFC-793.pdf">Transmission Control Protocol, RFC-793</a><br>
					
					<h3>Лекция № 11. Протокол HTTP
					</h3>
					<a href="11_HTTP/11_http_lect.pdf">Конспект лекции</a><br>
					<a href="http://book.itep.ru/4/45/http4561" target="_blank">Перевод документации, RFC-2616</a><br>
					
					<br><br>
				</div>
			</article>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
