<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="os-style") %}	
		<link rel="stylesheet" type="text/css" href="/static/styles/edu-style.css">		
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<article>
				<div id="scrollTop"><div id='buttonUp'></div></div>
				<div class="layout-positioner">
					<!-- Content -->
					<h1>Материалы по курсу "Операционные системы"</h1>
					Курс длится 1 семестр, в конце семестра экзамен. В неделю 1 лекция, 1 практика.
					
					<h3>Цель преподавания дисциплины</h3>
					Знакомство с использованием операционных систем, их проектированием и реализацией.
					
					<h3>Место дисциплины в системе высшего профессионального образования</h3>
					Данная дисциплина является первой в цикле компьютерных дисциплин и призвана заложить основы для углублённого изучения, как языков программирования, так и теоретической информатики.<br>
					Многие идеи, возникшие в процессе разработки операционных систем, нашли приложения в других областях информатики, например, в параллельном программировании. Изучение внутренней структуры операционных систем отражается на таких областях, как программирование с повышенными требованиями к надежности, проектирование и реализация алгоритмов, разработка современных устройств, создание виртуальных сред, кэширование документов в Internet, создание безопасных и защищенных систем, управление сетями и многих других.
					
					<h3>Требования к уровню освоения содержания курса</h3>
					
					<p><b>Студент должен знать</b>
						роль и задачи операционных систем;
						историю развития и классификации операционных систем;
						функционирование типичной операционной системы, роль прерываний;
						процессы и потоки, вытесняющее и невытесняющее планирование;
						обзор физической памяти и понятие виртуальной памяти;
						файловые системы, деление на разделы, виртуальные файловые системы;
						ресурсы, понятие программного интерфейса приложения (API);
						основные понятия проектирования (надежность, гибкость, переносимость, безопасность, совместимость, эффективность).</p>
					<p><b>Студент должен уметь</b>
						описать, как операционные системы эволюционировали от примитивных пакетных систем к сложным многопользовательским операционным системам;
						описать функции современной операционной системы с точки зрения удобства работы, эффективности и масштабируемости;
						сопоставить пользовательский режим и режим ядра операционной системы;
						указать потенциальные проблемы с безопасностью операционных систем и возможные пути их решения;
						производить настройку систем Windows при помощи средств графического интерфейса, при помощи утилит командной строки и при помощи редактора реестра;
						написать сценарий для автоматизации сложных или ответственных работ по настройке или обслуживанию системы;
						обслуживать файловую систему и выполнять восстановление данных после сбоев;
						оценивать загруженность системы, собирать данные для оценки, проводить диагностические работы.</p>
						
					
					<h3>Темы и разделы курса, их краткое содержание</h3>
					<ol>
						<li>Архитектура ЭВМ и операционные системы. Принципы фон Неймана. История развития операционных систем. Системы пакетной обработки. Роль и задачи операционных систем. Загрузка и функционирование типичной операционной системы.</li>
						<li>Обзор и классификация операционных систем. Семейства современных операционных систем. Многопользовательские и сетевые операционные системы. Встроенные системы и системы реального времени. Специфические проблемы систем реального времени.</li>
						<li>Основы операционных систем. Методы структуризации. Абстракции, процессы и ресурсы. Понятия программного интерфейса приложения (API) и интерфейса пользователя. Потребности приложений и эволюция программного и аппаратного обеспечения. Организация устройств, прерывания. Понятия режимов пользователя и супервизора, защита, режим ядра.</li>
						<li>Диспетчеризация и планирование. Диспетчеризация и переключение контекстов. Роль прерываний. Параллельное исполнение: преимущества и недостатки. Проблемы "взаимного исключения" и некоторые решения. Тупики: причины, условия, способы предотвращения. Модели и механизмы (семафоры, мониторы, условные переменные, рандеву). Проблема "читатель/писатель" и синхронизация. Вопросы, связанные с многопроцессорностью (спин-блокировка, реентерабельность). Вытесняющее и невытесняющее планирование. Планировщики и политики. Процессы и потоки. Предельные сроки выполнения операции и другие вопросы реального времени.</li>
						<li>Управление памятью. Обзор физической памяти и аппаратного обеспечения, предназначенного для управления памятью. Оверлеи, подкачка и разделы. Страничная и сегментная организации памяти. Стратегии вытеснения страниц. Рабочее множество и пробуксовка. Кэширование.</li>
						<li>Управление устройствами. Характеристики последовательных и параллельных устройств. Абстрагирование от различий между устройствами. Стратегии буферизации. Прямой доступ к памяти. Восстановление после сбоев.</li>
						<li>Файловые системы. Файлы: данные, метаданные, операции, организация, буферизация, файлы с последовательным и произвольным доступом. Директории: содержимое и структура. Файловые системы: деление на разделы, монтирование и демонтирование, виртуальные файловые системы. Стандартные методы реализации. Типичные ошибки файловых систем. Файлы, проецируемые в память. Специализированные файловые системы. Именование, поиск, доступ, резервное копирование.</li>
						<li>Безопасность и защита данных. Обзор безопасности системы. Механизмы и политики разграничения прав доступа. Методы и устройства обеспечения безопасности. Защита, доступ и аутентификация. Модели защиты. Защита памяти. Шифрование данных. Управление восстановлением.</li>
						<li>Вопросы проектирования. Методы декомпозиции системы (монолитная, многоуровневая, модульная, микроядерная модели). Эффективность, надежность, гибкость, переносимость, безопасность, совместимость. Влияние безопасности, сетевых технологий, мультимедиа, графических оконных интерфейсов и национальных особенностей.</li>
						<li>Отказоустойчивость. Фундаментальные понятия: надежность и доступность системы. Пространственная и временная избыточность. Методы реализации отказоустойчивости.</li>
						<li>Оценка производительности системы. Почему требуется оценивать производительность системы. Какие параметры системы необходимо оценивать. Стратегии кэширования, подкачки, планирования, управления памятью, безопасности и другие. Модели оценки: детерминированная, аналитическая, имитационная и зависящая от реализации. Методы сбора данных для оценки (механизмы профилирования и трассировки).</li>
						<li>Языки сценариев. Языки сценариев и их роль. Основные системные команды. Написание сценариев, передача параметров. Выполнение сценария. Влияние языков сценариев на программирование.</li>
					</ol>
					
					<h3>Программа практических занятий</h3>
					<ol>
						<li>Знакомство с работой в консоли. Создание cmd-скриптов, аргументы командной строки. </li>
						<li>Команды set, if. Переменные окружения, раннее связывание и связывание времени выполнения.</li>
						<li>Команда for. Перечисление файлов/каталогов, обработка файлов и ключ /f команды for, обработка вывода других команд.</li>
						<li>Утилита findstr. Разбор постановки задачи helpgen.</li>
						<li>Работа с системным реестром. Утилиты regedit, reg.</li>
						<li>Администрирование ОС Windows с использованием сервера сценариев WSH. Скрипты на JScript.</li>
						<li>Администрирование ОС Windows с использованием PowerShell.</li>
						<li>Установка ОС Linux на виртуальную машину.</li>
						<li>Скрипты bash. Команды cut, grep, sed. Задача GetIP</li>
						<li>Скрипты bash. Команды if, for. Задачи which и tempfile.</li>
						<li>Файловые системы.</li>
					</ol>
					
					<a href="tasks_cmd.pdf">Задач по cmd</a><br>
					<a href="tasks_linux.pdf">Задачи по bash</a><br><br>
					
					Сданные задачи и полученные баллы можно отслеживать в <a href="https://docs.google.com/spreadsheets/d/1R_oyBMFkuh4CvLVWn349gX99wYcOUS-bEl5ZFggZMII/edit?usp=sharing" target="_blank">google-доках</a>.
					
					<h3>Рекомендуемая литература:</h3>
					Таненбаум Э.С., Современные операционные системы, 3-е. изд. СПб.: Питер, 2010.<br>
					Уильям Р. Станек, Командная строка Microsoft Windows. Справочник администратора.<br>
					Климов А.П., <a href="registry/klimov.pdf">Реестр Windows 7</a>.<br>
					Хонейкатт Д., <a href="registry/honeycutt.djvu">Реестр Windows XP</a>. Справочник профессионала.
					
					<h3>Формальные требования для получения допуска и сдачи экзамена</h3>
					В течение семестра будут предложены задачи. Для получения допуска необходимо сдать эти задачи до конца семестра.<br>
					
					На экзамене студент отвечает на вопросы из <a href="osmin.txt">osmin</a>, после этого получает билет из списка <a href="os_tickets.pdf">os_tickets</a> и задачу из списка <a href="osquest.txt">osquest</a>.
					
					<h3>Консультации</h3>
					Консультации проводятся в среду в 17-50 и четверг в 17-50, сбор у кафедры, каб. 613. На консультации можно не только задать вопросы, но и сдать задачи.
					
					<h3>Методические материалы</h3>
					Материалы для практических занятий по cmd (<a href="cmd">исходники</a> cmd).<br>
					Андрей Попов, Курс лекций "Командная строка и сценарии Windows", <a href="http://www.intuit.ru/studies/courses/1059/225/lecture/3105" target="_blank">читать</a> лекции 1-3.<br>
					Справочник по командам cmd с подробным разбором ключей и множеством примеров <a href="http://ss64.com/nt/" target="_blank">ss64.com/nt</a><br>
					Материалы для практических занятий по реестру (<a href="registry">исходники</a>).<br>
					Материалы для практических занятий по bash (<a href="bash">исходники</a> bash).<br>
				</div>
			</article>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
