<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="php-style") %}
		<link rel="stylesheet" type="text/css" href="/static/styles/edu-style.css">		
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<article>
				{% module Template("scroll.html") %}
				<div class="layout-positioner">
					<!-- Content -->

					<h2>Введение в Web программирование на PHP</h2>
						
					Курс длится 1 семестр. В неделю 1 лекция она же практика.
					Спецкурс ориентирован на студентов КН, КБ, ФИИТ, ПИ второго курса, но приглашаются все желающие.<br>
					Проектор обеспечит факультет, а ноутбуки приносить свои. Желающие получат зачет или экзамен по результатам 
					работы в семестре. Занятия проходят в 622 ауд. пятой парой (с 16-10 до 17-40), занятия начнутся 05 марта.
					
					<h3>Цель преподавания дисциплины</h3>
					Приобретение практических навыков разработки несложных Web приложений.<br>
					Знакомство с принципами разработки Web приложений.<br>
					Обзор некоторых библиотек языка PHP.<br>
					В рамках курса студенты имеют возможность взять курсовые работы, которые могут стать основой для бакалаврских 
					и магистерских работ.
					
					<h3>Задачи изучения дисциплины</h3>
					Знакомство студентов с архитектурой Web сервера  Apache.<br>
					Освоение студентами языка PHP в объёме, достаточном для решения практических задач.<br>
					Знакомство студентов с системой управления контентом Joomla!.
					
					<h3>Место дисциплины в системе высшего профессионального образования</h3>
					Данный спецкурс рассчитан на студентов вторго курса направления КН, КБ, ФИИТ, ПИ.<br>
					В рамках курса используются знания, полученные студентами на курсах "Скрипты", "Языки сценариев (Perl или Python)", "Сети". Курс является дополнением к курсам "Протоколы Интернета", "Web и DHTML", "Базы данных".<br>
					
					Базы данных изучаются на третьем курсе. В рамках спецкурса предполагается работа с базами данных. Основные понятия (необходимые для понимания решаемых задач), будут изложены на занятиях, а подробности будут оставлены желающим на самостоятельный разбор. Такой подход позволит познакомить студентов с базами данных уже на втором курсе.
					
					<h3>Требования к уровню освоения содержания курса</h3>
					<p><b>Студент должен иметь представление</b>
						о принципах организации сети Интернет и службы Web;	
						о различных подходах к решению проблемы динамического контента;	
						об архитектуре Model View Controller применительно к Web приложениям;	
						о принципах работы CMS систем.</p>
					
					<p><b>Студент должен знать</b>
						синтаксис языка программирования PHP;	
						архитектуру Web сервера Apache (структуру каталогов, директивы конфигурационных файлов, возможности ядра и модулей, интерфейсы и т. д.).</p>
					
					<p><b>Студент должен уметь</b>
						устанавливать, настраивать Web сервер Apache;	
						писать PHP-скрипты для решения стандартных задач, использовать стандартные библиотеки;
						использовать возможности CMS Joomla! и её расширений.
						По окончании курса студент должен сделать свой сайт, движок которого написан на PHP.</p>
					
					
					<h3>Темы и разделы курса</h3>
					<ol>
						<li> Основы языка HTML. Устройство Веб сервера.</li>
						<li> Обработка форм на стороне Веб сервера.</li>
						<li> Подключение к базам данных через веб интерфейс.</li>
						<li> Сеансы PHP и Cookie.</li>
						<li> Работа с библиотекой GD4. Captcha – защита от спам-роботов.</li>
						<li> Обработка XML документов.</li>
						<li> Системы управления контентом, Joomla.</li>
						<li> Отправка почты средствами PHP.</li>
						<li> Технология AJAX.</li>
						<li> Обзор библиотек и фреймворков для PHP. Архитектура MVC (Model View Controller).</li>
					</ol>
					
					В течение семестра можно сдать две задачи: написать свой форум и свою систему управления контентом; эти задачи в свою очередь 
					состоят из маленьких подзадач: обработка форм, доступ к БД, регистрация и авторизация, защита от роботов (captcha, определение 
					IP-адреса), поддержка сеансов, фильтр мата, рассылка писем и т. д.
					
					<h3>Рекомендуемая литература:</h3>
					Андрей Шкрыль. РНР - это просто. Программируем для Web-сайта. БХВ-Петербург, 2006 г. 368 стр.<br>
					Дмитрий Котеров, Алексей Костарев. PHP 5. В подлиннике. БХВ-Петербург, 2008 г. 1104 стр.
					
					<h3>Некоторые разобранные задачи</h3>
					<ol>
						<li>Hello, world</li>
						<li>Обработка форм</li>
						<li>Созадние БД в PHPMyAdmin</li>
						<li>Создание БД с использованием интерфейса phpMyAdmin. Создали БД (имя БД дает сервер) и в ней таблицу students с четырьмя полями 
							(колонками): id, name, address, birthday (идентификатор - INT, первичный ключ с  автоинкрементированием; имя - VARCHAR$; адрес 
							- VARCHAR; дата рождения - DATE). Внесли в таблицу данные.</li>
						<li>Подключение к БД, выборка всех содержащихся в таблице данных. Подключение вынесли в отдельный файл connection.php. Для вызова 
							connection.php используем функцию require. Для выполнения SQL запроса испльзуем функцию mysql_query. Полученные данные вставляем 
							на веб страницу в виде html-таблицы (тэг table). <a href="examples/4">Исходники</a>.</li>
						<li>Выборка данных, удовлетворяющих критерию поиска. В файле default.php создали веб форму (тэг form), атрибут action задает адрес 
							и имя обработчика, атрибут method задает метод отправки данных на сервер (в данном примере метод GET). Текстовое поле для ввода 
							(input type='text') имеет атрибут name со значением stud_name, следовательно, имя пользователя хранится в суперглобальном массиве 
							$_GET. Для выборки строк, удовлетворяющих условию используется SQL конструкция where name='$_GET[stud_name]'. Поиск по возрасту 
							делается аналогично. <a href="examples/5">Исходники</a>.</li>
						<li>Вставка данных в БД. <a href="examples/6">Исходники</a>.</li>
						<li><a href="archive/7">Сеансы PHP</a>. В БД хранятся имена и md5-хэши паролей. Пользователь водит пароль и логин, а скрипт 
							check.php проверят наличие в БД записи об этом пользователе. Если такая запись есть, заводится сессия - session_start(); 
							и в суперглобальный массив $_SESSION делается запись о том, что пользователь успешно залогинился - $_SESSION['login']='ok'.
							<br>В файле secret.php выполняется проверка. Если пользователь не залогинился, то выполняется редирект на страницу 
							авторизации - header("Location:default.php"). <a href="examples/7">Исходники</a></li>
						<li><a href="archive/8">Каптча</a>. Пользователь получает форму для заполнения (разгадывания каптчи), рисунок формируется 
							скриптом, что видно в атрибуте тэга img: src='captcha.php'. Основным скриптом, генерирующим рисунок, является captcha.php; 
							он инклудит random.php для вынесения функции generate_code() в отдельный файл.<br>
							Случайно сгенерированное с помощью generate_code() число заносится в сенанс: $_SESSION['captcha']=$captcha. Далее формируется 
							рисуонк, который отправляется ползователю.<br>
							Скрипт go.php запускает сессию, извлекает (если он там есть) из массива $_SESSION секретный код и сравнивает его с присланным 
							пользователем.<a href="examples/8">Исходники</a></li>
						<li><a href="archive/9">AJAX</a>. <a href="examples/9">Исходники</a>.</li>
						<li>Почта. <a href="examples/10">Исходники</a>.</li>
						<li><a href="archive/11">XML</a>. <a href="examples/11">Исходники</a>.</li>
						<li><a href="archive/12">Загрузка файлов на сервер</a>. <a href="examples/12">Исходники</a>.</li>
					</ol>	

				</div>
			</article>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
