<!DOCTYPE html>
<html>
	<head>
		{% module Template("head_styles.html", style_name="pnm-style") %}
	</head>
	<body>
		{% module Template("header.html") %}
		<div class="content">
			<article>
				<!-- <div id="scrollTop"> ^ Наверх </div> -->
				<div class="layout-positioner">
					<!-- Content -->
					
					<h1>Материалы по курсу "Параллельные вычисления для научных расчетов"</h1>
					<img style="float:right;margin-right:50px" src="/static/images/fondpotanin.jpg" alt="Благотвортительный фонд" width="234" height="112">
					Курс длится 1 семестр, в конце семестра зачет/экзамен. В неделю 1 лекция.<br>
					
					Курс поддержан грантом <a href="http://www.fondpotanin.ru" target="_blank">Благотвортительного фонда </a> В. Потанина <br clear="right">
					
					<h3>Цель преподавания дисциплины</h3>
					Изучение принципов и методов параллельного программирования, применение изученных методов для решения вычислительно затратных научных задач.
					
					<h3>Задачи изучения дисциплины</h3>
					<ol>
						<li>Освоение стандартов OpenMP и MPI в объёме, достаточном для решения практических задач.</li>
						<li>Знакомство с параллельными алгоритмами на больших графах (выделение сообществ, поиски путей и т. п.). Параллельное программирование для задач с интенсивным доступом к данным.</li>
						<li>Знакомство с параллельными методами линейной алгебры, параллельными методами решения обыкновенных дифференциальных уравнений и уравнений в частных производных. Параллельное программирование для вычислительно-интенсивных задач</li>
					</ol>
					
					<h3>Место дисциплины в системе высшего профессионального образования</h3>
					В курсе "Параллельные вычисления для научных расчетов" используются знания, полученные студентами при изучении курсов (в скобках указана трудоемкость изученных курсов)
					<ol>
						<li>Операционные системы (1 семестр, лекции + практики),</li>
						<li>Языки и технологии программирования (2 семестра, лекции + практики),</li>
						<li>Аппаратные средства вычислительной техники (1 семестр, лекции + практики)</li>
						<li>Архитектура ЭВМ (1 семестр, лекции),</li>
						<li>Методы приближенных вычислений (2 семестра, лекции + практики),</li>
						<li>Дискретная математика (2 семестра, лекции + практики),</li>
						<li>Комбинаторные алгоритмы (2 семестра, лекции + практики),</li>
						<li>Параллельные вычисления (1 семестр, лекции + практики).</li>
					</ol>
					
					Одновременно с курсом "Параллельные вычисления для научных расчетов" студентам читаются курсы:
					<ol>
						<li>Программирование на GPU,</li>
					<li>Программирование для сопроцессоров Intel Xeon Phi</li>
					</ol>
					
					Знания, полученные при изучении курса "Параллельные вычисления для научных расчетов", используются при изучении курсов:
					<ol>
						<li>Оптимизация производительности вычислительных приложений,</li>
						<li>Моделирование живых систем.</li>
					</ol>
					
					<h3>Требования к уровню освоения содержания курса</h3>
					После успешного прохождения учебного курса студенты должны:
					<ol>
					<li>оценивать пригодность вычислительной системы для решения требуемой прикладной задачи;</li>
					<li>знать, применять и адаптировать классические методы параллельного решения практически важных задач;</li>
					<li>учитывать специфику задачи (например, зависимость от объема данных) при разработке алгоритмов, обладающих высокой степенью параллелизма;</li>
					<li>уметь проводить декомпозицию параллельного алгоритма на архитектуру вычислительной системы;</li>
					<li>программно реализовывать разработанный метод, проводить его тестирование и профилировку;</li>
					<li>уметь использовать специализированные библиотеки, типа MKL, для научных расчетов.</li>
					</ol>
					
					<h3>Используемое оборудование</h3>
					Для нужд курса будет использоваться вычислительный кластер <a href="http://parallel.uran.ru" target="_blank">Уран</a> Института математики и механики УрО РАН. Так же будет использоваться вычислительный кластер УрФУ, состоящий из 12 вычислительных узлов на базе CPU Intel Xeon, а также сопроцессоров Intel Xeon Phi 5110P и ускорителей вычислений Nvidia Tesla K20X.
					
					<h3>Программа курса</h3>
					возможны изменения
					<ol>
						<li>Введение в высокопроизводительные вычисления;</li>
						<li>Параллелизм потоков и OpenMP;</li>
						<li>Параллелизм процессов и MPI;</li>
						<li>Структурное параллельное программирование;</li>
						<li>Умножение и декомпозиция больших матриц: разреженных и плотных;</li>
						<li>Параллельные прямые и итерационные методы решение систем линейных алгебраических уравнений;</li>
						<li>Параллельные численные методы решения систем обыкновенных дифференциальных уравнений;</li>
						<li>Параллельные конечно-разностные схемы решения дифференциальных уравнений в частных производных;</li>
						<li>Экономичные схемы решения задач математической физики;</li>
						<li>Распараллеливание методов типа Шварца для задач математической физики на "сложных" областях;</li>
						<li>Data intensive задачи. Высокопроизводительная обработка графов;</li>
						<li>Параллельный поиск в ширину на графе;</li>
						<li>Параллельный поиск кратчайших путей на графе;</li>
						<li>Параллельный поиск сообществ в графах;</li>
						<li>Параллельное определение метрик центральности в графах.</li>
					</ol>
					
					<h3>Учебные материалы</h3>
					<a href="http://kvkt.urfuclub.ru/courses/hpc_for_science/" target="_blank">Сайт кафедры высокопроизводительных компьютерных технологий</a><br>
					<a href="1_introduction.pdf">Лекция 1. Вводные слова</a>. <a href="1_hpc.pdf">Введение в высокопроизводительные вычисления</a><br>
					<a href="2_openmp.pdf">Лекция 2. Введение в OpenMP</a><br>
					<a href="3_mpi.pdf">Лекция 3. Введение в MPI</a><br>
					<a href="4_pi.pdf">Лекция 4. Примеры программ на MPI, постановка задач</a><br>
					<a href="5_graphs.pdf">Лекция 5. Обработка больших графов</a><br>
					<a href="6_paths.pdf">Лекция 6. Пути в больших графах</a><br>
					<a href="8_parode.pdf">Лекция 8. Параллельные численные методы решения ОДУ - I</a><br>
					<a href="9_parode.pdf">Лекция 9. Параллельные численные методы решения ОДУ - I</a><br>
					<a href="10_multigrid.pdf">Лекция 10. Многосеточные методы - I</a><br>
					<a href="11_multigrid.pdf">Лекция 11. Многосеточные методы - II</a><br>
					<a href="12_parareal.pdf">Лекция 12. Алгоритм Parareal - I</a><br>
					<a href="13_parareal.pdf">Лекция 13. Алгоритм Parareal - II</a><br>
					
					<h3>Формулировки домашних заданий</h3>
					<a href="hometask_1.pdf">Домашнее задание 1</a><br>
					<a href="hometask_2.pdf">Домашнее задание 2</a><br>
					<a href="hometask_3.pdf">Домашнее задание 3</a><br>
					
					<h3>Рекомендуемая литература:</h3>
					Антонов А.С. Параллельное программирование с использованием технологии MPI. <a href="mpibook_Anotonov.pdf">читать</a><br>
					Антонов А.С. Параллельное программирование с использованием OpenMP. <a href="OpenMP_Anotonov.pdf">читать</a><br>
					Гришагин В.А., Свистунов А.Н. Параллельное программирование на основе MPI. <a href="mpi_Grishagin.pdf">читать</a><br>
					Букатов А.А., Дацюк В.Н., Жегуло А.И. Программирование многопроцессорных вычислительных систем. <a href="par_prog_Burlakov.pdf">читать</a><br>
					Учебное пособие по MPI <a href="mpi.pdf">читать</a><br>
					Краткие <a href="http://parallel.uran.ru/node/30" target="_blank">инструкции</a> для начинающих работать с кластером "Уран"<br>
					
					<h3>Формальные требования для получения зачета</h3>
					В течение семестра будут предложены задачи. Для получения зачета/экзамена необходимо сдать задачи до конца сессии. Студентам рекомендовано объединяться в группы по 3-4 человека и выполнять задачи коллективно. 
					
					Сданные задачи и полученные баллы можно отслеживать в <a href="">google-доках</a>.
					
					<h3>Консультации</h3>
					Консультации проводятся на кафедре вычислительной математики по расписанию. На консультации можно не только задать вопросы, но и сдать задачи.
						
				</div>
			</article>
		</div>
		{% module Template("footer.html") %}
	</body>
</html>
