<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="scripts-style") %}	
		<link rel="stylesheet" type="text/css" href="/static/styles/edu-style.css">		
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<article>
				<div id="scrollTop"><div id='buttonUp'></div></div>
				<div class="layout-positioner">
					<!-- Content -->

					<h1>Материалы по курсу "Скрипты"</h1>
					Курс длится 1 семестр, в конце семестра зачет. В неделю 1 практика, лекций нет.
					
					<h2>Цель преподавания дисциплины</h2>
					Введение в программирование с использованием языка JScript, позволяющего студентам максимально быстро перейти к практическому программированию. Содержанием курса является решение ряда специально подобранных задач, предназначенных для введения студентов в классическую проблематику компьютерных наук.

					<h2>Задачи изучения дисциплины</h2>
					Освоение языка JScript в объёме, достаточном для решения практических задач. Знакомство с основными структурами данных (массивы, хэш-таблицы, стеки, очереди, деревья). Знакомство с алгоритмами Хаффмана, Дейкстры, Хемминга, Бойера-Мура и др.
					
					<h2>Место дисциплины в системе высшего профессионального образования</h2>
					Данная дисциплина является первой в цикле компьютерных дисциплин и призвана заложить основы для углублённого изучения как языков программирования, так и теоретической информатики.
					
					<h2>Требования к уровню освоения содержания курса</h2>
					<p><b>Студент должен иметь представление</b> об общей организации и возможностях современных компьютеров; об основах работы в ОС Windows; о базовой технике программирования на языке JScript.</p>

					<p><b>Студент должен знать</b> синтаксис языка программирования JScript; основные структуры данных (массивы, хэш-таблицы, стеки, очереди, деревья) и способы работы с ними; алгоритмы, изучаемые в рамках данного курса.</p>

					<p><b>Студент должен уметь</b> составлять алгоритмы решения несложных задач; оптимально выбирать структуры данных для решения тех или иных задач; записывать алгоритмы на языке JScript, тестировать и отлаживать полученные программы.</p>

					<h2>Программа практических занятий</h2>
					<ol>
						<li>Кодирование символов (ASCII, ANSI, Unicode). Сжатие RLE.</li>
						<li>Энтропия Шеннона.</li>
						<li>Сжатие по Хаффману (префиксное кодирование), азбука Морзе.</li>
						<li>Избыточное кодирование по Хэммингу.</li>
						<li>Виртуальная машина, реализующая принципы фон Неймана.</li>
						<li>Форматы чисел, представление чисел с плавающей точкой (IEEE 754).</li>
						<li>Поиск подстроки в строке с использованием хэш-функции (алгоритм Карпа-Рабина).</li>
					    <li>Поиск подстроки в строке с использованием автоматов.</li>
					    <li>Поиск подстроки в строке с использованием алгоритма Бойера-Мура.</li>
						<li>Обратная польская (постфиксная) нотация, алгоритм Дейкстры.</li>
						<li>Шифр Цезаря, взлом с применением частотного анализа.</li>
						<li>Игра Life на неограниченном поле.</li>
					</ol>

					<h2>Рекомендуемая литература:</h2>
					Солодушкин С.И. <a href="scripts.pdf" target="_blank">Учебное пособие по дисциплине «Скрипты»</a><br>
					Лукач Ю.С. <a href="wdh.chm" target="_blank">Документация на JavaScript</a>

					<h2>Формальные требования для получения зачета</h2>
					<p>В течение семестра будут предложены 12 задач. Для получения допуска к концу семестра необходимо сдать 8 любых задач. Синтаксис языка JScript студенты осваивают самостоятельно, вопросы по синтаксису разбираются по мере необходимости на консультациях.
					В средине семестра проводится коллоквиум по синтаксису языка.
					Если сдано 12 задач и сдан коллоквиум, то зачет ставится "автоматом". Если есть допуск и сдан коллоквиум, то на зачете отвечать надо 1 вопрос - постановка задачи, методы её решения (программу писать не надо, ответ "на листе бумаги"). Если есть допуск и не сдан коллоквиум, то на зачете отвечать надо 2 вопроса - к постановке задачи добавляется вопрос по синтаксису языка.</p>

					Сданные задачи и полученные баллы можно отслеживать в <a href="https://docs.google.com/spreadsheets/d/1T_MqU6_U5ARvJX2eZdWvzkRa88cLr-KUrWApClj363A/edit?ts=57ee1921#gid=0" target="_blank">google-доках</a>

					<h2>Консультации</h2>
					Консультации проводятся в среду в 17-50 и четверг в 17-50, сбор у кафедры, каб. 613. На консультации можно не только задать вопросы, но и сдать задачи.
					<h2>Коллоквиум</h2>
					В октябре сотоится коллоквиум по синтаксису JScript, сроки проведения будут согласованы с группой. Коллоквиум проводится в два этапа: письменный и устный. На первом (письменном) этапе надо ответить на вопросы типа
					Что выводит на экран скрипт?
					<pre>mas = new Array();<br>mas['a'] = 10;<br>mas['b'] = 3;<br>WSH.echo(mas.length);</pre>
					Что выводит на экран скрипт?
					<pre>reg = /(\d+)/;<br>str = 'Windows 98 must die';<br>result = reg.exec(str);<br>WSH.echo(result);<br></pre>
					Вопросы будут по массивам, строкам, функциям (как функциям и как конструкторам), регулярным выражениям.<br>
					Если студент не справился с первой частью, коллоквиум считается несданным.<br>
					Если студент правильно ответил на вопросы, он получает билет по одному из встроенных объектов JScript.<br> 
					На коллоквиум выносятся следующие 5 объектов: Array, String, RegExp, Function, Error. Надо написать все свойства и методы этого объекта. Потом в ходе устной беседы с преподавателем рассказать, как это работает, и ответить на вопросы преподавателя.
					<h2>Материалы для самостоятельной работы</h2>
					<ol>
						<li>Вводная практика. <a href="0">Материалы практики</a>.</li>
						<li>Задача RLE. <a href="1">Материалы консультации</a>.</li>
						<li>Задача кодирования по Хаффману. <a href="2">Материалы консультации</a>.</li>
						<li>Задача кодирования по Хэммингу. <a href="3">Материалы консультации</a>. Для того, чтобы разрешить ввод в поле только цифр 0 и 1 на текстовое поле навесли обработчик события keypress, см. <a href="http://learn.javascript.ru/keyboard-events#keypress" target="_blank">События клавиатуры</a>.</li>
					</ol>
					<!-- <div class="ex-a"><div class="ex-d">Cодержание</div></div> -->

				</div>
			</article>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
