<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="web-style") %}	
		<link rel="stylesheet" type="text/css" href="/static/styles/edu-style.css">		
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<article>
				<div id="scrollTop"><div id='buttonUp'></div></div>
				<div class="layout-positioner">
					<!-- Content -->
						
					<h1>Материалы по курсу "Web и DHTML"</h1>
					Курс длится 1 семестр, в конце семестра экзамен (или зачет). В неделю 1 лекция, 1 практика.
					<h3>Учебные материалы</h3>
					Для методического сопровождения курса были подготовлены видеолекции:<br>
					<a href="https://www.youtube.com/playlist?list=PL_eT4wsRBcCAgTDrZehWvTPRDQ0_7CP-p" target="_blank">
						<img class="youtube-img" src="/static/images/youtube.png">1-4 лекции</a><br>
					<a href="https://www.youtube.com/watch?v=Efsp3LBjU_o" target="_blank">
						<img class="youtube-img" src="/static/images/youtube.png">5 лекция</a><br><br>
					<a href="web_posob.pdf">Учебное пособие по курсу "Web &amp; DHTML"</a>
					
					<h3>Тема № 1. Основы HTML, языки разметки</h3>
					<a href="1_introduction/1_present.pdf">Презентация</a><br>
					<a href="1_introduction/1_lect.pdf">Конспект лекции</a><br>
					<a href="1_introduction/1_practice.pdf">Конспект практики</a><br>
					
					<h3>Тема № 2. Основы CSS: синтаксис, селекторы, каскадность, наследование, специфичность</h3>
					<a href="2_css_base/2_present.pdf">Презентация</a><br>
					<a href="2_css_base/2_lect.pdf">Конспект лекции</a><br>
					<a href="2_css_base/2_practice.pdf">Конспект практики</a><br>
					
					<h3>Темы № 3 и 4. Позиционирование, визуализация</h3>
					<a href="3_position/3_present.pdf">Презентация</a><br>
					<a href="3_position/3_lect.pdf">Конспект лекции</a><br>
					<a href="3_position/3_practice.pdf">Конспект практики № 3</a> и <a href="3_position/3_source.rar">картинки для практики</a><br>
					<a href="4_makets/4_practice.pdf">Конспект практики № 4</a>, <a href="4_makets/img0.jpg">картинка для практики</a><br>
					
					<h3>Тема № 5. Адаптивный веб дизайн</h3>
					<a href="5_adaptive/5_present.pdf">Презентация</a><br>
					<!--a href='5_adaptive/5_lect.pdf'>Конспект лекции</a><br /-->
					<a href="5_adaptive/5_practice.pdf">Конспект практики</a> и <a href="5_adaptive/5_source.rar">архив для практики</a><br>
					
					<h3>Тема № 6. Развитие CSS: фреймворки, библиотеки</h3>
					<a href="6_css_frameworks/6_present.pdf">Презентация</a><br>
					<a href="6_css_frameworks/6_examples.zip">Примеры с лекции</a><br>
					<a href="6_css_frameworks/6_practice.txt">Конспект практики</a><br>
					
					<h3>Тема № 7. HTML5: поверхностный взгляд на некоторые возможности</h3>
					<a href="7_html5/7_present.pdf">Презентация</a><br>
					
					<h3>Тема № 8. Объектная модель браузера и документа</h3>
					<a href="8_dom/8_present.pdf">Презентация</a><br>
					<a href="8_dom/8_practice.pdf">Конспект практики</a><br>
					<a href="8_dom/6_practice_new.pdf">Конспект практики # 2 </a><br>
					
					<h3>Тема № 9. Обработка событий на стороне клиента </h3>
					<!--a href='9_events/9_present.pdf'>Презентация</a><br /-->
					<a href="9_events/9_practice.pdf">Конспект практики</a>
					
					<h3>Лекция № 10. Библиотека jQuery </h3>
					<a href="10_jquery/10_present.pdf">Презентация</a><br>
					<a href="10_jquery/10_practice.pdf">Конспект практики</a>
					
					<h3>Лекция № 11. Angular 4 </h3>
					<a href="11_angular/11_present.pdf">Презентация</a><br>
					<a href="https://coursehunters.net/course/udemy-angular-4-2-the-complete-guide" target="_blank">видео уроки по Angular 4</a><br>
					<a href="11_angular/11_practice.pdf">Конспект практики</a><br>
					<a href="11_angular/recipes-start.rar">Архив 1</a> и 
					<a href="11_angular/recipes-final.rar">Архив 2</a>
					
					<h3>Цель преподавания дисциплины</h3>
					Изучение принципов работы службы Web, изучение принципа работы и архитектуры современных Web-серверов, изучение шаблонов проектирования Web-приложений. Освоение процесса создания веб-сайтов (верстка и оформление, взаимодействие с веб-сервером, клиентские и серверные сценарии).
					В рамках курса студенты имеют возможность взять курсовые работы, которые могут стать основой для бакалаврских и магистерских работ.
					
					<h3>Место дисциплины в системе высшего профессионального образования</h3>
					В рамках курса используются знания, полученные студентами на курсах "Скрипты", "Сети", "Интернет", "Базы данных", "ООП".
					
					<h3>Требования к уровню освоения содержания курса</h3>
					
					<p><b>Студент должен знать</b>
					основные тэги и возможности языков HTML4 и HTML5;
					основные основные свойства CSS2 и CSS3, используемы для создания макета и оформления веб-страниц;
					объектную модель документа DOM2 и DOM3;
					процесс взаимодействия браузера и веб-сервера;
					методы доступа к внешним данным на стороне сервера.</p>
					
					<p><b>Студент должен уметь</b>
					выполнят ручную HTML верстку, создавать таблицы стилей CSS;
					создавать клиентские скрипты на JavaScript;
					обрабатывать события на стороне сервера;
					управлять состоянием приложения;
					получать доступ к данным из различных источников (Базы данных, XML файлы);
					</p>
					
					<p><a href="programm.pdf">Программа курса</a></p>
					
					<h3>Задачи</h3>
					В течение семестра необходимо сдать 3 задачи: адаптивная верстка, клиентские скрипты и серверные скрипты. Сданные задачи отслеживать на
					<a href="https://docs.google.com/spreadsheets/d/1vQ3reJAxi_C2uAmHsCRbgXCAum7XhuYbzD48POLElfY/edit?usp=sharing" target="_blank">гуглдоках</a>.
					
					Формулировка задания для группы КБ-301 и сроки сдачи <a href="task.pdf">здесь</a>. Группа ПИ-301 может выбрать задание как в КБ-301 или как в прошлом году <a href="old_task.pdf">здесь</a>.
					
					<h3>Вопросы к экзамену (зачету) появятся в декабре</h3>
					
					<h3>Содержание курса</h3>
					Темы и разделы, их краткое содержание:
					<ol>
						<li>Принципы работы службы Web.</li>
						<li>Основы языков HTML4 и HTML5.</li>
						<li>Объектная модель документа DOM2 и DOM3.</li>
						<li>Каскадные таблицы стилей CSS2 и CSS3.</li>
						<li>Фреймворки CSS на примере Bootstrap. Препроцессоры CSS.</li>
						<li>Клиентские сценарии JavaScript, jQuery.</li>
						<li>Фреймворки JavaScript: Angular и др.</li>
						<li>Изучение принципа работы и архитектуры современных Web-серверов: Apache и IIS.</li>
						<li>Знакомство с шаблоном проектирования Web-приложений MVC.</li>
						<li>Получение доступа к данным (Базы данных, XML файлы).</li>
						<li>Управление состоянием, передача информации между страницами, состояние приложения.</li>
						<li>Кэширование и асинхронные страницы.</li>
						<li>Технология AJAX.</li>
						<li>Разработка Web-сервисов. Подходы REST и RPC.</li>
					</ol>
				
				</div>
			</article>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
