<!DOCTYPE html>
<html>
    <head>
        {% module Template("head.html", style_name="news-style") %}
    </head>
    <body>
        {% module Template("header.html") %}
        <main>
            <div class="layout-positioner">
                <form action="/admin" method="POST">
                    <input name="title">
                    <input name="body">
                    <button>add</submit>                        
                </form>
            </div>
            {% module Template("scroll.html") %}   
            {% for n in news %}
            <div class="layout-positioner">
                <div class="post">
                    <div class="post-title">
                        {{ escape(n.title) }}
                        <div class="post-date">{{ n.date }}</div>
                    </div>
                    <div class="post-body">{{ escape(n.body) }}</div>
                    <form action="/admin" method="POST">
                        <input name="id" hidden="hidden" value="{{ n.id }}">
                        <button>delete</submit>
                    </form>
                </div>      
            </div>
            {% end %}
        </main>
        {% module Template("footer.html") %}        
    </body>
</html>