<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="biography-style") %}
		<script type="text/javascript" src="static/scripts/scripts.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				scroll();
			});
		</script>
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			{% module Template("scroll.html") %}
			<div class="layout-positioner">
				<!-- Content -->

				<div class="panel-group">

					<div class="panel panel-default">
						<a data-toggle="collapse" href="#collapse1">
							<div class="panel-heading">
								<h1 class="panel-title">ОБРАЗОВАНИЕ</h1>
								<!-- <div class="arrow"></div> -->
							</div>
						</a>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>В 2000 закончил муниципальную гимназию № 9, г.Екатеринбург.</p>
								<p>В 2004 закончил математико-механический факультет Уральского государственного университета 
								им. А.М. Горького, получил диплом бакалавра; специальность "Математика. Компьютерные науки". 
								Поступил в магистратуру.</p>
								<p>В 2006 закончил магистратуру математико-механического факультета Уральского государственного 
								университета им. А.М. Горького, получил диплом магистра; специальность "Математика. 
								Компьютерные науки". Поступил в очную аспирантуру Института математики и механики УрО РАН.</p>
								<p>В 2009 закончил аспирантуру и защитил диссертацию на соискание ученой степени кандидата 
								физико-математических наук по теме "Стабилизация линейных систем с запаздыванием по времени 
								в координатах и управлении"; специальность 05.13.18 "Математическое моделирование, численные 
								методы и комплексы программ".</p>
							</div>
						</div>	
					</div>


					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
							<div class="panel-heading">
								<h1 class="panel-title">ТРУДОВАЯ ДЕЯТЕЛЬНОСТЬ</h1>
							</div>
						</a>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								Cентябрь 2004 - август 2006 ассистент кафедры прикладной математики Уральского государственного технического университета им. Кирова, УГТУ-УПИ.<br>
								Сентябрь 2006 - февраль 2010 ассистент кафедры вычислительной математики Уральского государственного университета им. А.М. Горького.<br>
								Февраль 2010 - настоящее время доцент кафедры вычислительной математики Уральского федерального университета им. Б.Н.Ельцина.<br>
			
								Сентябрь 2004 - декабрь 2008 программист отдела дифференциальных уравнений Института математики и механики УрО РАН.<br>
								Декабрь 2008 - август 2013 ведущий программист отдела дифференциальных уравнений Института математики и механики УрО РАН (по совместительству).<br>
								Август 2013 - настоящее время главный программист отдела дифференциальных уравнений Института математики и механики УрО РАН (по совместительству).
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							<div class="panel-heading">
								<h1 class="panel-title">ПОВЫШЕНИЕ КВАЛИФИКАЦИИ</h1>
							</div>
						</a>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<p>В период обучения в университете получил сртификаты Cisco</p>
								<ol>
									<li>CCNA Networking Basics</li>
									<li>CCNA Routers and Routing Basics</li>
									<li>CCNA Switching Basics and Intermediate Routings</li>
									<li>CCNA WAN Technologies</li>
								</ol>
								<p>В период с апреля 2011 г. по июнь 2012 г. прошел курсы повышения квалификации для IT-преподавателей вузов на базе центра инноваций Microsoft в Уральском федеральном университете (mic.usu.ru) и получил соответствующие сертификаты Microsoft.</p>
								<ol>
									<li>Веб-приложения и современные средства разработки на базе Microsoft Visual Studio 2008</li>
									<li>Современные технологии построения компьютерных сетей с использованием Microsoft Windows Server 2008 R2</li>
									<li>Современные технологии построения баз данных на примере Microsoft SQL Server 2008</li>
									<li>Теория и практика интеграции информационных систем</li>
									<li>Разработка Web-приложений .NET и Java</li>
									<li>Основы Microsoft Windows Azure</li>
								</ol>
								<p>В период с октября 2011 г. по ноябрь 2011 г. прошел курсы повышения квалификации на базе ФПК Уральского федерального университета по программе "Использование ОС Linux" и получил свидетельство гос. образца о повышении квалификации</p>
							</div>
						</div>	
					</div>
						
					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
							<div class="panel-heading">
								<h1 class="panel-title">НАУЧНЫЕ ИНТЕРЕСЫ</h1>
							</div>
						</a>
						<div id="collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								Разработка, обоснование, компьютерная реализация, тестирование численных 
								методов решения дифференциальных уравнений в частных производных с запаздыванием.
							</div>
						</div>	
					</div>
						
					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
							<div class="panel-heading">
								<h1 class="panel-title">ГРАНДЫ И НАГРАДЫ</h1>
							</div>
						</a>
						<div id="collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<p>В период обучения в магистратуре был стипендиатом ученого совета факультета.
								В 2009 г. получил стипендию им. Н.И. Слободчикова (www.uran.ru)
								В качестве исполнителя принимал участие в следующих грантах РФФИ</p>
								<ol>
									<li>Численные методы решения систем с запаздыванием, 2005 - 2006</li>
									<li>Математические модели и численные методы анализа в задачах иммунологии, 2005 - 2007</li>
									<li>Вычислительные технологии математического моделирования и системного анализа динамики иммунного ответа и инфекционных заболеваний, 2008 - 2010</li>
									<li>Математические модели и численные методы исследования уравнений в частных производных с запаздыванием, 2010 - 2012</li>
									<li>Численные алгоритмы и программное обеспечение для исследования эволюционных систем с наследственностью, 2013 - 2015</li>
								</ol>
								<p>В 2009, 2010, 2011, 2013 гг. был победителем конкурса СКБ Контур "Гранты для молодых преподавателей" (www.skbkontur.ru).
								В 2012 г. стал победителем конкурса на проведение научных исследований молодыми учеными Уральского федерального университета (urfu.ru).</p>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
							<div class="panel-heading">
								<h1 class="panel-title">КОНФЕРЕНЦИИ</h1>
							</div>
						</a>
						<div id="collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Проблемы теоретической и прикладной математики, 35-ая молодежная конференция, Екатеринбург, 2004.</li>
									<li>Проблемы теоретической и прикладной математики, 36-ая молодежная конференция, Екатеринбург, 2005.</li>
									<li>1st Korea-Russia International Workshop on Mobile and Telecommunication Technologies, Ekaterinburg, Russia, June 28-29, 2005</li>
									<li>Теория управления и математическое моделирование, Ижевск, 3-8 июля, 2006.</li>
									<li>Воронежcкая зимняя математическая школа С.Г. Крейна, Воронеж, 24-30 января, 2008</li>
									<li>Проблемы теоретической и прикладной математики, 39-ая молодежная конференция, Екатеринбург, 2008.</li>
									<li>Теория управления и математическое моделирование, Ижевск, 5–8 мая, 2008.</li>
									<li>Проблемы теоретической и прикладной математики, 40-ая молодежная конференция, Екатеринбург, 2009.</li>
									<li>Математическое моделирование, численные методы и комплексы программ, Екатеринбург, 21-22 апреля, 2010.</li>
									<li>4th International Conference on Applied Mathematics, Simulation, Modeling
								(ASM’10) Corfu Island, Greece, July 22-25, 2010. <span class="support">*</span></li>
									<li>Анестезиологическое обеспечение операций на тазобедренном суставе, 1-я Всероссийская научно-практической конференция Новосибирск, 11-12 марта, 2011 года</li>
									<li>The 11th WSEAS International Conference on APPLIED INFORMATICS
								AND COMMUNICATIONS (AIC ’11), Флоренция, Италия, 23-25 августа,
								2011. <span class="support">*</span></li>
									<li>Современные проблемы математики. Международная молодежная школа–конференция, Екатеринбург, 29 января – 5 февраля, 2012.</li>
									<li>Всероссийская научная конференция с международным участием "Математическая теория управления и математическое моделирование Ижевск,
								15-18 мая, 2012.</li>
									<li>Russia-Korea Workshop on advanced computer and information technologies,
								Екатеринбург, 16-18 мая, 2012</li>
									<li>Fifth Conference on Numerical Analysis and Applications, Lozenetz, Bulgaria,
								June, 15–20, 2012.</li>
									<li>Балтийский форум. Актуальные проблемы анестезиологии и реаниматологии, Светлогорск, 4–6 Июля, 2012.</li>
									<li>14th WSEAS International Conference on Mathematical Methods,
								Computational Techniques And Intelligent Systems (mamectis’12), Porto,
								Portugal, July 1–3, 2012. <span class="support">*</span></li>
									<li>XIX Всероссийская конференция "Теоретические основы и конструирование численных алгоритмов и решение задач
								математической физики", посвященная памяти К.И. Бабенко, Абрау-Дюрсо, 10-16 сентября, 2012.</li>
									<li>VI Всероссийская конференция "Актуальные
								проблемы прикладной математики и механики", посвященная памяти академика А.Ф. Сидорова, Абрау-Дюрсо, 10-16 сентября, 2012. </li>
									<li>Международная, 44-й Всероссийская, молодежная школа-конференция "Современные проблемы математики", 27 января - 2 февраля, 2013. </li>
									<li>8th Conference on Applied Mathematics and Scientific Computing, Sibenik, Croatia, June 10-14,  2013. <span class="support">*</span></li>
									<li>Объединенный иммунологический форум – 2013, Нижний Новгород, 30 июня – 5 июля, 2013.</li>
									<li>Колмогоровские чтения - VI. Общие проблемы управления и их приложения (ОПУ-2013), Тамбов, 7-11 октября 2013 г.</li>
								</ol>
								<span class="support">*</span> - при финансовой поддержке СКБ Контур.
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
							<div class="panel-heading">
								<h1 class="panel-title">УВЛЕЧЕНИЯ</h1>
							</div>
						</a>
						<div id="collapse7" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Велотуризм и веломарафоны.</p>
								<p>Совершенные походы</p>
								<p>2005 г. Белоруссия-Польша-Чехия, 2000 км.<br>
								2005 г. Турция, 800 км.<br>
								2006 г. Южный Урал, 300 км.<br>
								2007 г. Южный Урал, 350 км.<br>
								2008 г. Средний Урал, 320 км.<br>
								2008 г. Марафон 300 км. за 19 ч. 15 мин.<br>
								2008 г. Тянь-Шань, Киргизия, 670 км.<br>
								2009 г. Кавказ, Россия, 600 км.<br>
								2010 г. Крым, Украина, 300 км.<br>
								2010 г. Греция, 1500 км.<br>
								2011 г. Италия, 1500 км.<br>
								2012 г. Испания-Португалия, 1600 км.<br>
								2013 г. Хорватия, 600 км.</p>
							</div>
						</div>	
					</div>
						
				</div>

			</div>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
