<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Solod</a>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/biography">Биография</a></li>
                <li><a href="/publications">Публикации</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/news">Новости</a></li>                                
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li id="news-bell"><a id="news" href="/news"></a></li>
            </ul> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <div id="nav-icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</nav>
