<!-- Обычное меню -->
<!-- <nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Solod</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/biography">Биография</a></li>
        <li><a href="/publications">Публикации</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
</nav> -->

<!-- Сворачивающееся меню -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Solod</a>
        </div>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/biography">Биография</a></li>
                <li><a href="/publications">Публикации</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <!-- <i class="icon-align-justify"></i> -->
        </button>
    </div>
</nav>

<!-- <nav class="navbar navbar-inverse navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Solod</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Биография</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Публикации</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>    
        </ul>
    </div>  
</nav> -->