<!DOCTYPE html>
<html>
	<head>
		{% module Template("head_styles.html", style_name="index-style") %}	
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			<div id="scrollTop"><div id='buttonUp'></div></div>	
			<div class="layout-positioner">				
				<div class="row">
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/web"><div class="cell-in">WEB</div></a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/os"><div class="cell-in">OS</div></a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/scripts"><div class="cell-in">JS</div></a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/php"><div class="cell-in">PHP</div></a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/pnm"><div class="cell-in">PNM</div></a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/ip"><div class="cell-in">IP</div></a>
					</div>
				</div>
			</div>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
