<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="index-style") %}		
	</head>
	<body>
		{% module Template("header.html") %}
		<div class="content">
			<article>
				<div id="scrollTop"><div id='buttonUp'></div></div>					
				<div class="layout-positioner">
					<div class="menu-cells">
						<a class="cell-href" href="/edu/web" title="WEB & DHTML">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">WEB</span>
							</div>
						</a>
						<a class="cell-href" href="/edu/php">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">PHP</span>
							</div>
						</a>
						<a class="cell-href" href="/edu/scripts">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">JS</span>
							</div>
						</a>
						<a class="cell-href" href="/edu/os">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">OS</span>
							</div>
						</a>
						<a class="cell-href" href="/edu/pnm">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">PNM</span>
							</div>
						</a>
						<a class="cell-href" href="/edu/ip">
							<div class="cell">
								<span class="before"></span>
								<span class="inner">IP</span>
							</div>
						</a>
					</div>
				</div>
			</article>
		</div>
		{% module Template("footer.html") %}
	</body>
</html>
