<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="index-style") %}	
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			{% module Template("scroll.html") %}
			<div class="layout-positioner">				
				<div class="row">
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/web">
							<div class="cell-in">
								<span>WEB</span>
								<div class="hint">WEB и DHTML</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/os">
							<div class="cell-in">
								<span>OS</span>
								<div class="hint">Операционные системы</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/scripts">
							<div class="cell-in">
								<span>JS</span>
								<div class="hint">JavaScript</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/php">
							<div class="cell-in">
								<span>PHP</span>
								<div class="hint">WEB программирование на PHP</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/pnm">
							<div class="cell-in" id="pnm-img">
								<span>PNM</span>
								<div class="hint">Параллельные численные методы</div>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-md-4 cell-out">
						<a href="/edu/ip">
							<div class="cell-in">
								<span>IP</span>
								<div class="hint">Internet Protocol</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
