<!DOCTYPE html>
<html>
    <head>
        {% module Template("head.html", style_name="news-style") %}
    </head>
    <body>
        {% module Template("header.html") %}
        <main>
            {% module Template("scroll.html") %}   
            {% for n in news %}
            <div class="layout-positioner">
                <div class="post">
                    <div class="post-title">
                        {{ escape(n.title) }}
                        <div class="post-date">{{ n.date }}</div>
                    </div>
                    <div class="post-body">{{ n.body }}</div>
                </div>      
            </div>
            {% end %}
        </main>
        {% module Template("footer.html") %}        
    </body>
</html>