<!DOCTYPE html>
<html>
    <head>
        {% module Template("head.html", style_name="news-style") %}
    </head>
    <body>
        {% module Template("header.html") %}
        <main>
			{% module Template("scroll.html") %}            
            <div class="layout-positioner">
                <div class="post">
                    <div class="post-title">
                        Title
                        <div class="post-date">24.01.18 </div>
                    </div>
                    <div class="post-body">
                        Bodykjsndskjdnksjdncksjndcknsdkcnkjnc
                        sdkjcnsdkjcnskjdcnksjdcnksjdcnkjsdnc
                        sdlkcOIEFJLAKSMDC[OISLKSAMDCLIMSDCL]
                        ASLDKASDLKMALDOWIEJF[EIURNGF9WRHF0]ASDLKMASDLMWD
                        ASLKDJWEIUFNIREUNFLAKMSDO
                    </div>
                </div>
                <div class="post">
                    <div class="post-title">
                        Title
                        <div class="post-date">24.01.18</div>
                    </div>
                    <div class="post-body">
                        Bodykjsndskjdnksjdncksjndcknsdkcnkjnc
                        sdkjcnsdkjcnskjdcnksjdcnksjdcnkjsdnc
                        sdlkcOIEFJLAKSMDC[OISLKSAMDCLIMSDCL]
                        ASLDKASDLKMALDOWIEJF[EIURNGF9WRHF0]ASDLKMASDLMWD
                        ASLKDJWEIUFNIREUNFLAKMSDO
                    </div>
                </div>
               
                        
            </div>
        </main>
        {% module Template("footer.html") %}        
    </body>
</html>