<!DOCTYPE html>
<html>

<head>
    {% module Template("head.html", style_name="news-style") %}
</head>

<body>
    {% module Template("header.html") %}
    <main>
        {% module Template("scroll.html") %}
        <div class="layout-positioner">
            <form id="admin-post" action="/admin" method="POST">
                {% module xsrf_form_html() %}
                <div class="post">
                    <div class="post-title">
                        <input type="text" id="admin-title" name="title" placeholder="Заголовок">
                        <div class="post-date"></div>
                    </div>
                    <div class="post-body">
                        <textarea id="admin-text" name="body" placeholder="Текст..."></textarea>
                    </div>
                    <div id="functional">
                        <input type="submit" value="Опубликовать" id="button-post">
                    </div>
                </div>
            </form>
            
            {% for n in news %}
                <div class="layout-positioner">                    
                    <div class="post-title">
                        {{ escape(n.title) }}
                        <div class="post-date">{{ n.date }}</div>
                    </div>
                    <div class="post-body">{{ escape(n.body) }}</div>
                    <form action="/admin" method="POST">
                        {% module xsrf_form_html() %}
                        <input name="id" hidden="hidden" value="{{ n.id }}">
                        <button>delete</submit>
                    </form>
                </div>      
            {% end %}

        </div>
    </main>
    {% module Template("footer.html") %}
</body>

</html>