<!DOCTYPE html>
<html>
	<head>
		{% module Template("head.html", style_name="publications-style") %}		
		<script type="text/javascript" src="static/scripts/scripts.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				changePanel();
			});
		</script>
	</head>
	<body>
		{% module Template("header.html") %}
		<main>
			{% module Template("scroll.html") %}
			<div class="layout-positioner">
				<div class="panel-group">
					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse1">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2004 - 2007</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse1" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Солодушкин С.И. Модель одного цикла репродукции вирусов // 
										Пробл. теорет. и прикл. математики: тр. 35-й молодеж. конф.- 
										ИММ УрО РАН, 2004.- С.181-186.</li>
									<li>Солодушкин С.И. Математическая модель противовирусного иммунного ответа //
										 Пробл. теорет. и прикл. математики: тр. 36-й Регион. молодеж. конф.- 
										 ИММ УрО РАН, 2005.- С.203-207.</li>
									<li>Bojarchenkov А., Kim A., Solodushkin S., Bocharov G. Bio-Medical Software 
										Package // Proc. 1st Korea-Russia Intern. Workshop on Mobile and Telecom. 
										Technol. pp. 6-10, 2005.</li>
									<li>Солодушкин С.И. Идентификация параметров в дифференциальных уравнениях с 
										запаздыванием // Известия Института математики и информатики Удмуртского 
										государственного университета. 2006. № 2. С. 211-214.<br>
										<a href="https://elibrary.ru/item.asp?id=17346120" target="_blank">полная версия</a></li>
									<li>Солодушкин С.И. Разные смыслы понятия "красота" применительно к математике // 
										Новые идеи в аксиологии и анализе ценностного сознания. Екатринбург. С. 
										338-342, 2007.</li>
								</ol>
							</div>
						</div>	
					</div>


					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse2">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2008</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Солодушкин С.И. Линейно-квадратичная задача стабилизации систем 
										с запаздыванием по времени // Воронеж. зим. мат. шк. С.Г. Крейна: 
										тез. докл.- 2008.- С.131-133.</li>
									<li>Солодушкин С.И. Линейно-квадратичная задача стабилизации систем 
										с запаздыванием по времени // Проблемы теорет. и прикл. математики: 
										тр. 39-й Всерос. молодеж. конф.- ИММ УрО РАН, 2008.- С.164-169, 291-297.</li>
									<li>Солодушкин С.И. Стабилизация линейных систем с запаздыванием по 
										времени в координатах и управлении // Труды института математики 
										и механики УрО РАН, Т. 14, № 4 С. 143-158, 2008.<br>
										<a href="http://www.mathnet.ru/links/e3e2719f66eb22c5e39728136cf62867/timm63.pdf" 
										target="_blank">полная версия</a></li>
									<li>Солодушкин С.И. О стабилизации систем с последействием // 
										Вестник Удмуртского университета. Математика. Механика. 
										Компьютерные науки. Ижевск. С. 140-141, 2008.<br>
										<a href="http://vst.ics.org.ru/uploads/vestnik/2_2008/vu08246.pdf" 
										target="_blank">полная версия</a></li>
								</ol>
							</div>
						</div>	
					</div>


					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse3">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2009</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Солодушкин С.И. Стабилизация систем с запаздыванием по 
										времени в координатах и управлении // Системы управления 
										и информационные технологии, 1.3(35) С. 404-406, 2009.</li>
									<li>Солодушкин С.И. Об одном конструктивном критерии проверки 
										стабилизации систем с запаздыванием по времени // Проблемы 
										теорет. и прикл. математики: тр. 40-й Всерос. молодеж. конф.- 
										УрО РАН, 2009.- С.251-254.</li>
									<li>Солодушкин С.И. Стабилизация систем с запаздыванием по времени 
										в координатах и управлении // Информ. технологии моделирования 
										и упр.- 2009.- № 2.- С.226-230.</li>
									<li>Солодушкин С.И. СТАБИЛИЗАЦИЯ ЛИНЕЙНЫХ СИСТЕМ С ЗАПАЗДЫВАНИЕМ ПО 
										ВРЕМЕНИ В КООРДИНАТАХ И УПРАВЛЕНИИ // диссертация на соискание 
										ученой степени кандидата физико-математических наук / Уральский 
										государственный университет им. А.М. Горького. Екатеринбург, 
										2009</li>
									<li>Солодушкин С.И. СТАБИЛИЗАЦИЯ ЛИНЕЙНЫХ СИСТЕМ С ЗАПАЗДЫВАНИЕМ ПО 
										ВРЕМЕНИ В КООРДИНАТАХ И УПРАВЛЕНИИ // автореферат диссертации 
										на соискание ученой степени кандидата физико-математических 
										наук / Уральский государственный университет им. А.М. Горького. 
										Екатеринбург, 2009</li>
								</ol>
							</div>
						</div>	
					</div>


					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse4">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2010</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Solodushkin S.I. STABILIZATION OF SYSTEMS WITH DELAY IN COORDINATES 
										AND CONTROL // International Conference on Applied Mathematics, 
										Simulation, Modelling - Proceedings 4th International Conference 
										on Applied Mathematics, Simulation, Modelling, ASM'10. Сер. "Latest 
										Trends on Applied Mathematics, Simulation, Modelling - 4th International 
										Conference on Applied Mathematics, Simulation, Modelling, ASM'10" 
										Corfu Island, 2010. С. 238-241.</li>
									<li>Бочаров Г.А., Черешнев В.А., Ким А.В., Пименов В.Г., Солодушкин С.И., 
										Чиглинцев Е.А., Барабошкин Н.Д. Математические задачи системной 
										иммунологии // Математическое моделирование, численные методы и 
										комплексы программ: материалы конф.- Изд-во Урал. ун-та, С. 103-110, 
										2010.</li>
									<li>Квон В.Х., Ким А.В., Кормышев В.М., Пименов В.Г., Солодушкин С.И. 
										Аналитическое конструирование и синтез регуляторов в системах с 
										последействием. - Екатеринбург: Издательсво УрФУ, 2010. с. 170.</li>
									<li>Solodushkin S.I. Stabilization of Systems with Delay in Coordinates 
										and Control // Latest Trends on Applied Mathematics, Simulation, 
										Modeling. ISBN:987-960-474-210-3. pp. 238-241, 2010.<br> 
										<a href="http://www.wseas.us/e-library/conferences/2010/Corfu/ASM/ASM-38.pdf" 
										target="_blank">полная версия</a></li>
								</ol>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse5">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2011</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse5" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Solodushkin S.I. Access to the Solver of Functional Differential 
										Equations Through the Web Interface // Computational Engineering 
										in System Applications. ISBN: 978-1-61804-028-2. pp. 135-137, 2011.</li>
									<li>Менщикова О.А., Кузьмин В.В., Солодушкин С.И., Шадурский Н.Н. 
										Психические расстройства и кардиальные осложнения у пациентов 
										пожилого и старческого возраста после эндопротезирования тазобедренного 
										сустава: низкий уровень гемоглобина как фактор риска // Эфферентная 
										терапия, Т. 17, No 3, с. 96-97, 2011. <br>
										<a href="http://szgmu.ru/files/terapy/Terap_No_03_2011_full.pdf" 
										target="_blank">полная версия</a></li>
									<li>Менщикова О.А., Солодушкин С.И., Кузьмин В.В. Об установлении 
										факторов риска периоперационных кардиальных осложнений у пациентов 
										пожилого и старческого возраста при оперативном лечение переломов 
										шейки бедра // 1-я Всероссийская научно-практической конференция 
										г. Новосибирск, 11-12 марта 2011 года Анестезиологическое обеспечение 
										операций на тазобедренном суставе. Тезисы докладов. С. 57-58.</li>
								</ol>
							</div>
						</div>	
					</div>
	
					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse6">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2012</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Патрушев С.И., Свалова Д.Ю., Солодушкин С.И. Численное решение уравнения 
										теплопроводности с запаздыванием через WEB-интерфейс // Современные проблемы 
										математики: тезисы Международной 43-й Всероссийской молодежной школы-конференции, 
										ИММ УрО РАН. С. 226-228, 2012. <br>
										<a href="http://conf.uran.ru/kungurka/School-2012.pdf" target="_blank">полная версия</a></li>
									<li>Солодушкин С.И. Разработка сервера для численного решения 
										функционально-дифференциальных уравнений в частных производных // 
										Теория управления и математическое моделирование: труды конференции. 
										Ижевск, 15-18 мая 2012, С. 78-79.</li>
									<li>Менщикова О.А., Кузьмин В.В., Солодушкин С.И. Факторы, влияющие на 
										частоту развития инфаркта миокарда у пациентов пожилого и старческого 
										возраста при эндопротезировании тазобедренного сустава// Российский 
										нейрохирургический журнал им. проф. А.Л. Поленова, Т. 4, спец. выпуск, 
										2012, С. 36-37.</li>
									<li>Solodushkin S.I. Numerical Modeling of Evolutionary Systems in Partial 
										Derivatives with Time Delay on a Remote Server // Proceedings of the 14th 
										WSEAS International Conference on Mathematical Methods, Computational 
										Techniques And Intelligent Systems, pp. 142-146, 2012.<br>
										<a href="http://www.wseas.us/e-library/conferences/2012/Porto/MAMECTIS/MAMECTIS-23.pdf" 
										target="_blank">полная версия</a> </li>
									<li>Solodushkin S.I. Numerical Solution of Functional Differential Equations 
										in Partial Derivatives on a Remote Server through a Web Interface // 
										Proceedings of the Fifth Conference on Numerical Analysis and Applications, 
										pp. 47-48, 2012.</li>
									<li>Солодушкин С.И. Веб сервер для численного моделирования эволюционных систем 
										в частных производных // VI Всероссийская конференция "Актуальные проблемы 
										прикладной математики и механики", посвященная памяти академика А.Ф. Сидорова, 
										Абрау-Дюрсо, 10-16 сентября, 2012. С. 69-70.</li>
									<li>Солодушкин С.И. Разработка сервера для численного решения функционально-дифференциальных 
										уравнений в частных производных // Теоретические основы и конструирование 
										численных алгоритмов решения задач математической физики: тезисы XIX Всероссийской 
										конференции, посвященной памяти К.И. Бабенко. Новороссийск, 10-16 сентября, 
										2012. С. 91-92.</li>
									<li>Solodushkin S.I. Numerical investigation of time delay equations in partial 
										derivatives on a remote server // Russia-Korea Workshop on advanced computer 
										and information technologies. Екатеринбург, 16-18 мая 2012. C. 189-199.</li>
									<li>О.А. Менщикова, В.В. Кузьмин, С.И. Солодушкин. Острые послеоперационные 
										психические нарушения у пожилых и старых больных с переломами шейки бедра 
										при эндопротезировании тазобедренного сустава: роль анемии и аллогенной 
										трансфузии // Гений Ортопедии № 3, 2012 г С. 80-84. <br>
										<a href="http://ilizarov-journal.com/index.php/go/article/view/149" 
										target="_blank">полная версия</a></li>
									<li>О.А. Менщикова, В.В. Кузьмин, С.И. Солодушкин Влияние трансфузионной 
										стратегии на частоту развития делирия и когнитивных нарушений у пациентов 
										пожилого и старческого возраста при эндопротезировании тазобедренного 
										сустава // Тезисы XIII съезда Федерации анестезиологов и реаниматологов, 
										22-25 сентября 2012 г, С.-Петербург, С. 85-86.<br>
										<a href="http://far.org.ru/files/FAR-XIII_abstracts.pdf" target="_blank">полная версия</a></li>
									<li>Менщикова О.А., Кузьмин В.В., Солодушкин С.И., Болтаев П.Г. Острые 
										послеоперационные психические нарушения у пожилых и старых больных с 
										переломами шейки бедра при эндопротезировании тазобедренного сустава: 
										роль анемии и аллогенной трансфузии // Материалы III съезда травматологов-ортопедов 
										Уральского федерального округа и научно-практической конференции с международным 
										участием «Чаклинские чтения», 11-12 октября 2012 г., Екатеринбург, С. 93-94. <br>
										<a href="http://weborto.net/forum/pics/2012/10/ch2012.pdf" target="_blank">полная версия</a></li>
								</ol>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse7">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2013</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse7" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Сазонов М.В., Солодушкин С.И. Разработка веб сервера для численного решения 
										дифференциальных уравнений с эффектом запаздывания // Современные проблемы 
										математики: тезисы Международной 44-й Всероссийской молодежной школы-конференции, 
										ИММ УрО РАН. C. 141-144, 2013. <br>
										<a href="http://conf.uran.ru/kungurka/School-2013-site.pdf" target="_blank">полная версия</a></li>
									<li>Карпенко Д.А., Солодушкин С.И. Численное решение уравнения переноса с 
										эффектом последействия // Современные проблемы математики: тезисы 
										Международной 44-й Всероссийской молодежной школы-конференции, ИММ УрО РАН. 
										C. 397-400, 2013. <br>
										<a href="http://conf.uran.ru/kungurka/School-2013-site.pdf" target="_blank">полная версия</a></li>
									<li>Solodushkin S.I. One difference scheme for numerical solving of advection 
										equation with aftereffect // Proceedings of 8th Conference on Applied 
										Mathematics and Scientific Computing, Sibenik, Croatia, June 10-14, 2013. 
										pp. 54-55.</li>
									<li>Солодушкин С.И. Численное решение функционально-дифференциальных уравнений 
										в частных производных на примере модели ВИЧ // Российский иммунологический 
										журнал, Т. 7(16), № 2-3, Апрель - Сентябрь, 2013. Стр. 178-179.</li>
									<li>Солодушкин С.И. Разностная схема для численного решения уравнения переноса 
										с последействием // Известия высших учебных заведений. Математика № 10, 2013. 
										Стр. 77-82. <br>
										<a href="http://solod.zz.mu/science/articles/IzVUZ_13.pdf" 
										target="_blank">полная версия</a></li>
									<li>Солодушкин С.И. Численный метод решения уравнения переноса с запаздыванием по 
										времени и сдвигом по координатам // Вестник тамбовского университета. Cерия: 
										естественные и технические науки Т. 18, № 5-2, С. 2681-2682, 2013. <br>
										<a href="http://elibrary.ru/item.asp?id=20200908" target="_blank">полная версия</a></li>
									<li>Солодушкин С.И. Юманова И.Ф. Анализ модели ВИЧ: идентификация параметров и 
										численные эксперименты // Вестник тамбовского университета. Cерия: естественные 
										и технические науки Т. 18, № 5-2, С. 2683-2684, 2013. <br>
										<a href="http://solod.zz.mu/science/articles/tambov_yif_13.pdf" target="_blank">полная версия</a></li>
									<li>Solodushkin Svyatoslav I. Numerical Solving of Functional Differential Equations 
										in Partial Derivatives on a Remote Server through a Web Interface // 
										Numerical Analysis and Its Applications. Lecture Notes in Computer Science 
										Volume 8236, pp 502-508, 2013. <br>
										<a href="http://link.springer.com/chapter/10.1007/978-3-642-41515-9_57" 
										target="_blank">полная версия</a></li>
									<li>О.А. Менщикова, В.В. Кузьмин, С.И. Солодушкин Факторы риска инфаркта миокарда 
										у пациентов пожилого и старческого возраста с перломом шейки бедра после 
										тотального эндопротезирования тазобедренного сустава // Вестник травматологии 
										и ортопедии Урала № 3-4, С. 96-97, 2013.</li>
									<li>Solodushkin S. I. A difference scheme for the numerical solution of an 
										advection equation with aftereffect // Russian Mathematics, Allerton Press 
										Inc. pp. 65 – 70, No. 10, Vol. 57, 2013.</li>
								</ol>
							</div>
						</div>	
					</div>
		

					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse8">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2014</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse8" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Солодушкин С.И., Юманова И.Ф. Численный анализ динамики клеточных популяций, 
										структурированных по возрасту и фазе клеточного цикла // Современные проблемы 
										математики: тезисы Международной 45-й
										Международной молодежной школы-конференции, ИММ УрО РАН, УрФУ. C. 272-274, 2014.<br> 
										<a href="http://conf.uran.ru/kungurka/School-2014-no-email2.pdf" target="_blank">полная версия</a></li>
									<li>Solodushkin S. I., Yumanva I.F. Numerical Solving of a first order partial 
										differential equation with a time delay and a retardation of a state variable 
										// The 6th International Conference on Advanced Computational Methods in 
										Engineering, 23–28 June 2014. Book of Abstracts, pp. 44-43. Ghent, Belgium.</li>
									<li>Solodushkin S.I., Menshikova O.A., Yumanva I.F. Statistical Analysis of 
										Predictors of Myocardial Infarction After Total Hip Replacement in Patients 
										Over 60 Years // The World Congress on Engineering, 2-4 July, 2014. pp. 
										813-818. London, United Kingdom. <br>
										<a href="http://www.iaeng.org/publication/WCE2014/WCE2014_pp813-818.pdf" 
										target="_blank">полная версия</a></li>
									<li>Solodushkin S. I., Yumanva I.F. Numerical Analysis of One Partial Delay 
										Differential Equation of Cell Replication amd Maturation Process // 
										The 10th AIMS Conference on Dynamical Systems, Differential Equations 
										and Applications, July 07 - 11, 2014. Book of Abstracts, p. 527. Madrid, 
										Spain. <br>
										<a href="http://www.aimsciences.org/AIMS-Conference/conf-reg2014/abstracts/cs6_Abstract.pdf" 
										target="_blank">полная версия</a></li>
									<li>Солодушкин С.И., Юманова И.Ф., Ким А.В. Идентификация параметров в модели 
										ВИЧ на параллельном вычислителе // Теоретические основы и конструирование 
										численных алгоритмов решения задач математической физики: тезисы XX 
										Всероссийской конференции, посвященной памяти К.И. Бабенко. Новороссийск, 
										15-20 сентября, 2014. С. 94-95.</li>
									<li>Солодушкин С.И., Сагоян А.А. Численное исследование управляемого 
										гиперболического уравнения первого порядка с запаздыванием и сдвигом по 
										координатам // Динамика систем и процессы управления: тезисы международной 
										конференции, посвященной 90-летию со дня рождения академика Н.Н. Красовского. 
										Екатербург, 15-20 сентября, 2014. С 172-174.</li>
									<li>Солодушкин С.И. Юманова И.Ф. Разностная схема для численного решения уравнения 
										переноса с запаздыванием по времени и сдвигом по координатам // Алгоритмический 
										анализ неустойчивых задач: тезисы Международной конференции. Челябинск, 
										10-14 ноября, 2014.</li>
									<li>О. А. Менщикова, В. В. Кузьмин, С. И. Солодушкин Послеоперационная анемия 
										и риск развития инфаркта миокарда у пациентов пожилого и старческого возраста 
										после тотального эндопротезирования тазобедренного сустава // Гений Ортопедии 
										№ 4, 2014, с. 39-44. <br>
										<a href="http://solod.zz.mu/science/articles/gen_ort14.pdf" 
										target="_blank">полная версия</a></li>
								</ol>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse9">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2015</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse9" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>Solodushkin Svyatoslav I., Yumanova Irina F., De Staelen Rob H. First 
										order partial differential equations with time delay and retardation 
										of a state variable // Journal of Computational and Applied Mathematics. 
										Vol. 289, 2015, P. 322–330.</li>
									<li>Svyatoslav I. Solodushkin, Arsen A. Sagoyan, Irina F. Iumanova A 
										Parallel Algorithm for Solving the Advection Equation with a Retarded 
										Argument // 1st Ural Workshop on Parallel, Distributed, and Cloud 
										Computing for Young Scientists Proceedings of the 1st Ural Workshop 
										on Parallel, Distributed, and Cloud Computing for Young Scientists 
										Yekaterinburg, Russia, November 17th, 2015, p. 57-66. <br>
										<a href="http://solod.zz.mu/science/articles/ceur15.pdf" target="_blank">полная версия</a> |
										<a href="http://ceur-ws.org/Vol-1513/" target="_blank">вариант online</a></li>
									<li>Stolyar, A. G., Budkar, L. N., Solodushkin, S. I., Iumanova, I. F. 
										Influence of factors associated with the deceased-donor on kidney 
										transplant outcomes. Experimental and Clinical Transplantation, 
										Vol. 13, No. 5, 2015 p. 394-401. <br>
										<a href="http://solod.zz.mu/science/articles/ectr15.pdf" target="_blank">полная версия</a> |
										<a href="http://ectrx.org/forms/ectrxcontentshow.php?doi_id=10.6002/ect.2015.0056" target="_blank">вариант online</a></li>
								</ol>
							</div>
						</div>	
					</div>


					<div class="panel panel-default">
						<a class="ref-panel" data-toggle="collapse" href="#collapse10">
							<div class="panel-heading change-bg">
								<h1 class="panel-title">2016</h1>
								<div class="arrow"></div>
							</div>
						</a>
						<div id="collapse10" class="panel-collapse collapse">
							<div class="panel-body">
								<ol>
									<li>А.Г. Столяр, Л.Н. Будкарь, С.И. Солодушкин. ПРОГНОЗИРОВАНИЕ 
										РЕЗУЛЬТАТОВ ТРАНСПЛАНТАЦИИ ПОЧКИ // Клиническая нефрология, 
										№ 2, 2016, с. 46-55.
										<a href="http://solod.zz.mu/science/articles/clin_nephrol16_titul.pdf" target="_blank">Титульный лист</a> 
										номера, 
										<a href="http://solod.zz.mu/science/articles/clin_nephrol16.pdf" target="_blank">полная версия</a>.</li>
									<li>Столяр А.Г., Будкарь Л.Н., Климушева Н.Ф., Солодушкин С.И., 
										Томилина Н.А. ПОСТТРАНСПЛАНТАЦИОННЫЕ ПРЕДИКТОРЫ РЕЗУЛЬТАТОВ 
										ТРАНСПЛАНТАЦИИ ПОЧКИ // Клиническая нефрология. 2016. № 3-4. 
										С. 27-41.</li>
									<li>Аретинский В.Б., Архипов М.Л., Мазырина М.В., Будкарь Л.Н., 
										Солодушкин С.И., Карпова Е.А. ОЦЕНКА КЛИНИКО-ФУНКЦИОНАЛЬНОГО 
										СОСТОЯНИЯ БОЛЬНЫХ ПОСЛЕ ХИРУРГИЧЕСКОЙ РЕВАСКУЛЯРИЗАЦИИ МИОКАРДА 
										НА СПЕЦИАЛИЗИРОВАННОМ СТАЦИОНАРНОМ ЭТАПЕ - ЭТАПЕ ДОЛЕЧИВАНИЯ // 
										Вестник восстановительной медицины. 2016. № 5 (75). С. 58-63.</li>
									<li>А.Г. Столяр, Л.Н. Будкарь, С.И. Солодушкин. Прогнозирование 
										результатов трансплантации почки по факторам, связанным с 
										состоянием пациентов до операции. Часть 1 – Результаты 
										однофакторного анализа // Нефрология и диализ, Т. 18, № 2, 2016, 
										с. 186-207<br>
										<a href="http://solod.zz.mu/science/articles/nephrol_dialysis16.pdf" target="_blank">полная версия</a>.</li>
									<li>А.Г. Столяр, Л.Н. Будкарь, С.И. Солодушкин. Прогнозирование результатов 
										трансплантации почки по факторам, связанным с состоянием пациентов до 
										операции. Часть 2 – Результаты многофакторного анализа // Нефрология и 
										диализ, Т. 18, № 2, 2016, с. 199-207<br>
										<a href="http://solod.zz.mu/science/articles/nephrol_dialysis16.pdf" target="_blank">полная версия</a>.</li>
									<li>Svyatoslav I. Solodushkin, Arsen A. Sagoyan, Irina F. Iumanova Parallel 
										variant of numerical algorithm for solving a multidimensional advection 
										equation with time delay // Modern Problems in Mathematics and its Applications 
										Proceedings of the 47th International Youth School-conference "Modern Problems 
										in Mathematics and its Applications", Yekaterinburg, Russia, January 31 - 
										February 6, 2016, p. 315-325. <br>
										<a href="http://solod.zz.mu/science/articles/sopromat16_SolSagYu.pdf" target="_blank">полная версия</a> | 
										<a href="http://ceur-ws.org/Vol-1662/" target="_blank">вариант online</a></li>
									<li>Irina F. Iumanova, Svyatoslav I. Solodushkin Adaptive Wegstein method for a 
										coefficient inverse problem for one model of HIV infection Proceedings of the 
										47th International Youth School-conference "Modern Problems in Mathematics and 
										its Applications", Yekaterinburg, Russia, January 31 - February 6, 2016, p. 261-267. <br>
										<a href="http://solod.zz.mu/science/articles/sopromat16_YuSol.pdf" target="_blank">полная версия</a> | 
										<a href="http://ceur-ws.org/Vol-1662/" target="_blank">Вариант online</a></li>
									<li>Solodushkin Svyatoslav I., Yumanova Irina F., De Staelen Rob H. A difference 
										scheme for multidimensional transfer equations with time delay // 
										Journal of Computational and Applied Mathematics. Available online 6 January 2016.</li>
									<li>Solodushkin S.I., Iumanova I.F. PARALLEL NUMERICAL METHODS FOR ORDINARY DIFFERENTIAL 
										EQUATIONS: A SURVEY // CEUR Workshop Proceedings 2. Сер. "Ural-PDC 2016 - 
										Proceedings of the 2nd Ural Workshop on Parallel, Distributed, and Cloud 
										Computing for Young Scientists" 2016. С. 1-10.</li>
								</ol>
							</div>
						</div>	
					</div>

					<div class="panel panel-default">
							<a class="ref-panel" data-toggle="collapse" href="#collapse11">
								<div class="panel-heading change-bg">
									<h1 class="panel-title">2017</h1>
									<div class="arrow"></div>
								</div>
							</a>
							<div id="collapse11" class="panel-collapse collapse">
								<div class="panel-body">
									<ol>
										<li>Кузьмин В.В., Менщикова О.А., Солодушкин С.И. ПРОГНОЗИРОВАНИЕ ПОСЛЕОПЕРАЦИОННОГО 
											ИНФАРКТА МИОКАРДА У ПАЦИЕНТОВ ПОЖИЛОГО И СТАРЧЕСКОГО ВОЗРАСТА ПОСЛЕ 
											ЭНДОПРОТЕЗИРОВАНИЯ ТАЗОБЕДРЕННОГО СУСТАВА // Вестник анестезиологии и 
											реаниматологии. 2017. Т. 14. № 2. С. 14-19. </li>
										<li>Iumanova I.F., Solodushkin S.I. ON THE DEVELOPMENT OF STEFFENSEN'S METHOD 
											AND APPLICATIONS TO HAMMERSTEIN EQUATIONS // В сборнике: Современные проблемы 
											математики и ее приложений труды Международной (48-й Всероссийской) молодежной 
											школы-конференции. 2017. С. 334-341.<br>
											<a href="https://elibrary.ru/item.asp?id=29920052" target="_blank">полная версия</a></li>
									</ol>
								</div>
							</div>	
						</div>
				</div>
			</div>
		</main>
		{% module Template("footer.html") %}
	</body>
</html>
