
.support {
	color: red;
}

.panel, .panel-default {
	border: none !important;
	background: #fff !important;
	border-radius: none !important;
	box-shadow: none !important;
}

.panel-body {
	background: #fff !important;
}

.panel-heading {
	position: relative !important;
	transition-property: padding-left;
	transition-duration: .5s;
	color: black !important;
	height: 40px !important;
}

.panel-title {
	font-size: 20px !important;
}

.panel-heading:hover {
	/* background: #F1EEE0; */
	background: #EDE6CE;
	padding-left: 30px !important;
}

.panel-body {
	padding-left: 30px !important;
	padding-right: 30px !important;
	/* border: 1px solid #F1EEE0 !important; */
	border: 1px solid #EDE6CE !important;
}


main .layout-positioner {
	padding-top: 30px;
}

@media only screen and (max-width: 768px) {
	.layout-positioner {
		padding-left: 0px !important;
		padding-right: 0px !important;
		
	}

	.panel-body {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}
