
.support {
	color: red;
}

.panel, .panel-default {
	border: none !important;
	background: #fcfcfc !important;
	border-radius: none !important;
	box-shadow: none !important;
}

.panel-body {
	background: #fcfcfc !important;
	
}

.panel-heading {
	position: relative !important;
	transition-property: padding-left;
	transition-duration: .5s;
	color: black !important;
}

.panel-heading:hover {
	background: #F1EEE0;
	padding-left: 30px !important;
}

.panel-body {
	padding-left: 30px !important;
	padding-right: 30px !important;
	border: 1px solid #F1EEE0 !important;
}


main .layout-positioner {
	padding-top: 30px;
}
