main .layout-positioner {
    padding: 20px 20px;
}

#admin-title {
    height: 100%;
    width: 50%;
    min-width: 20%;
    max-width: 70%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
}

#admin-text {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    padding: 5px 10px;
    border: none;
    background: none;
    outline: none;
}

#admin-post {
    margin-bottom: 70px;
}

#functional {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#button-post {
    background: var(--hover-color);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 1em 1em 0;
    padding: 0.3em 1em;
    color: #4A4A4A;
}

.post {
    border-radius: 7px;
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
}

.post-title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 30px;
    font-weight: bold;
    background: var(--hover-color);
    border-radius: 7px 7px 0 0;
}

.post-date {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 0px;
    font-weight: normal;
    font-size: 12px;
}

.post-body {
    padding: 1em 1em;
    border-radius: 0 0 7px 7px;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}