@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.layout-positioner {
	width: 65%;
	height: 100%;
	margin: 0 auto;
}

.navbar {
	position: relative;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	height: 40px !important;
	z-index: 10;
}

.navbar-header {
	width: 17.5% !important;
	text-align: center !important;
}

.navbar-brand {
	width: 100% !important;
	margin: auto !important;
}

.container-fluid {
	position: relative !important;
}

.navbar-toggler {
	position: absolute !important;
	top: 10px !important;
	right: 30px !important;
	width: 30px !important;
	height: 30px !important;
    background: url('../images/menu1.png') no-repeat 50% 50%, #222222 !important;	
	background-size: 100% !important;
	border: none !important;
	display: none !important;
}

main {
	display: flex;
	min-height: calc(100vh - 50px - 36px);
	/*background: #fafafa;*/
	background: #fcfcfc;
}

a {
	text-decoration: none !important;
}

footer {
	width: 100%;
	height: 35px;
	/*background: #fafafa;*/
	background: #fcfcfc;
	color: #525252;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	font-size: 12px;
}

#scrollTop {
    position: fixed;
    opacity: 0;
    top: 0px;
    left: 0;
    width: 120px;
    min-height: 100%;
    /* padding-top: 40px; */
    /* padding-left: 10px; */
    transition-property: opacity;
    transition-duration: 0.3s;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    vertical-align: bottom;
    /* background: #CCDFEB; */
	/* background:  #E5EDF6 */
	z-index: 1;
    
}

#scrollTop:hover {
    opacity: 0.7;
	cursor: pointer;
	background:  #E5EDF6
}

#scrollTop #buttonUp {
    position: fixed;
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
	/* background: url('../images/right.png') no-repeat 50% 50%, #9EBDDC; */
    background: url('../images/right.png') no-repeat 50% 50%;	
    background-size: 80%;   
    transform: rotate(-90deg);    
    opacity: 0.6;
}

footer > .layout-positioner {
	border-top: 1px solid lightgray;
}


@media only screen and (max-width: 768px) {
	.layout-positioner {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding-left: 5px;
		padding-right: 5px;
	}

	.navbar-toggler {
		display: block !important;
	}

	/* .nav {
		border: none !important;
		margin: none !important;
	} */

	#collapsibleNavbar {
		background: #222222 !important;
		border: none !important;
		margin: none !important;
	}
	

	#scrollTop {
		display: none !important;
	}
}
