@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/* 
.content {
    position: relative;
} */

.content .layout-positioner {
	padding-top: 30px;
	padding-bottom: 30px;
}

pre {
    padding: 10px 50px;
    color: #333333;
	background: #F1EEE0;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}

#scrollTop {
    position: fixed;
    opacity: 0;
    top: 0px;
    left: 0;
    width: 200px;
    min-height: 100%;
    /* padding-top: 40px; */
    /* padding-left: 10px; */
    transition-property: opacity;
    transition-duration: 0.3s;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    vertical-align: bottom;
    /* background: #CCDFEB; */
    /* background:  #E5EDF6 */
    
}

#scrollTop:hover {
    opacity: 1;
    cursor: pointer;
}

#scrollTop #buttonUp {
    position: fixed;
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: url('../images/right.png') no-repeat 50% 50%, #9EBDDC;
    background-size: 120%;   
    transform: rotate(-90deg);    
    opacity: 0.6;
}
